{% extends 'base.html.twig' %}
 

{% block title %}Nouvelle division{% endblock %}
 
 {% block add %}
    <a href="{{path('app_divisions_new')}}">
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg>
        {#<img src="{{ 'assets/Dashboard/fonts/icons/main/New_Topic.svg'}}" alt="Ajout">#}
    </a>
{% endblock %}

{% block list %}
    <div > <a class="btn btn-success" style="margin-top: 15px;"  href="{{ path('app_divisions_index') }}">Retour</a></div>
    {{ form_start(form) }}
                <div class="create">


                <div class="create__section">
                    <div class="create__title"><img src={{asset('build/images/icons/iconplus.5ed37a8f.svg')}}>Fait un nouveau attachement de réponse</div> 
                </div>

                <div style="display:flex; flex-wrap:wrap">
                    
                    <div style="width: 45%; ">
                        
                        <div class="create__section" >
                            <label class="create__label" for="title">{{ form_label(form.Initial, 'Sélectionnez le courrier initial', {'label_attr': {'class': 'foo'}}) }}</label>
                            <label class="custom-select">
                                                                                
                                <div>{{ form_widget(form.Initial, {'attr': {'class': 'js-example-basic-single','placeholder': "Sélectionnez le courrier initial" }}) }}</div> 

                                </label>
                        </div>
                        
                    </div>
                 </div>
                <div style="display:flex; flex-wrap:wrap">
                    <div style="width: 45%; ">
                            
                        <div class="create__section" >
                            <label class="create__label" for="title">{{ form_label(form.Reponse, 'Sélectionnez le ccourrier de réponse', {'label_attr': {'class': 'foo'}}) }}</label>

                            <label class="custom-select">
                                                                                
                                <div>{{ form_widget(form.Reponse, {'attr': {'class': 'js-example-basic-single','placeholder': "Sélectionnez le ccourrier de réponse" }}) }}</div> 

                            </label>
                        </div>
                        
                    </div>


                </div>
                
                <div class="create__footer"> 
                    <button class="create__btn-create btn btn--type-02 btn btn-success">{{ button_label|default('Attacher') }}</button>
                </div>
            </div>

        {{ form_end(form) }}
                             
{% endblock %}
