{% extends 'base2.html.twig' %}


{% block title %}Nouveau document{% endblock %}

{% block main %}{% endblock %}

{% block breadcrumb %}

	<div class="page-header">
		<div class="row">
			<div class="col-md-8 col-sm-12">
				<div class="title">
					<h4>Nouveau document</h4>
				</div>
				<nav aria-label="breadcrumb" role="navigation">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{path("Accueil")}}">Accueil</a>
						</li>
						<li class="breadcrumb-item">
							<a href="{{ path('app_documents_index') }}">Liste des documents</a>
						</li>
						<li class="breadcrumb-item active" aria-current="page">
							Nouveau document
						</li>
					</ol>
				</nav>
			</div>

            <div class="col-md-4 col-sm-12 text-right">
				 
						 
							<div class="form-group row">
                               
                                <div class="col-sm-12 col-md-10">

                                <div class="pd-20   ">
                                     


                                    {% if (speciale  or user.niveau == "Admin") and Reponse == null %}

                                        <form action = "{{path('app_documents_new' )}}" method = "get">

                                            <div >
                                                <select  name = "mouv"  id="selectTypeDoc" class="selectpicker form-control text-center" data-style="btn-outline-success" style="text-align : ligth; border : 0.5px solid green" >  
                                                    {% if mouvement == "ARRIVEE DIRECTE" %}<option selected > {% else %} <option> {% endif %} ARRIVEE DIRECTE</option>
                                                    {% if mouvement == "ARRIVEE PAR SGM" %}<option selected > {% else %} <option> {% endif %}ARRIVEE PAR SGM</option>
                                                    {% if mouvement == "ARRIVEE PAR CAB" %}<option selected > {% else %} <option> {% endif %}ARRIVEE PAR CAB</option>
                                                    {% if mouvement == "ARRIVEE PAR AUTRE" %}<option selected > {% else %} <option> {% endif %}ARRIVEE PAR AUTRE</option>
                                                    {% if mouvement == "DEPART" %}<option selected > {% else %} <option> {% endif %}DEPART</option>
                                                    {% if mouvement == "INTERNE" %}<option value = "INTERNE" selected > {% else %} <option value = "INTERNE" > {% endif %}DOCUMENTS INTERNES</option>
                                                </select> 
                                                <div hidden> 
                                                    <button type ="submit" name = "submitmouv" class="btn btn-success" id="newDoc"> 
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                                        </svg> &nbsp; Nouveau document
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    {% endif %}

                                </div>
                                </div>
                            </div>
			 
			</div>
		</div>
	</div>

{% endblock %}

 

{% block list %}


<div class="pd-20 card-box mb-30">

   {{ form_start(form) }}

		<div class="pb-20">

			<div class="clearfix">


                    <div class="pull-left">
                         {% if document.mouvement == "DEPART" %}
                            <div class="create__section" >

                                {% if Reponse %}

                                <p class="mb-30"> <b> Résumé de documents à répondre </b> </p> 
                                
                                <div style="margin-top:10px;margin-bottom:10px;">Pas de documents associé à cette réponse</div>
                                     
                                <div style="margin-top:10px;margin-bottom:10px;">
                                        <p><b>Objet:</b> {{Reponse.objet}} </p>
                                        <p> <b>Référence:</b> {{Reponse.reference}}  </p>
                                        <p>  <b>Structure:</b> {{Reponse.structure}}</p>
                                    
                                </div>

                                {% endif %} 
                                 
                            </div>
                         {% endif %} 
                    </div>
			 
					<div class="pull-left">
						<!-- <h4 class="text-blue h4">Ajout d'un poste</h4> -->
						<p class="mb-30">
							<b>Formulaire d'ajout d'une nouveau document
							</b>
						</p>
					</div>
 
			</div>


			<div >

                <div class="d-flex">

<!-- container de gauche -->
                    <div class="container">1er container</div>
<!-- fin container de gauche-->



<!-- debut cintainer de droite -->
                    <div class="container">2ieme container</div>
<!-- fin container de droite -->



                </div>




            </div>

		 


		</div>


</div>

 


 


                        

                          

              




 

{% endblock %}
 
 

