{% extends 'base2.html.twig' %}
{% block title %}Visualisation de documents
{% endblock %}

{% block main %}{% endblock %}


{% block breadcrumb %}

	<div class="page-header">
		<div class="row">
			<div class="col-md-6 col-sm-12">
				<div class="title">
					<h4>Visualiser un document</h4>
				</div>
				<nav aria-label="breadcrumb" role="navigation">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{path("Accueil")}}">Accueil</a>
						</li>
						<li class="breadcrumb-item">
							<a href="{{ path('app_documents_index') }}">Liste des documents</a>
						</li>
						<li class="breadcrumb-item active" aria-current="page">
							Visualiser un documents
						</li>
					</ol>
				</nav>
			</div>

			<div class="col-md-6 col-sm-12 text-right">
				<div>
                        {% if document.Reponse %}
		                     {% set reponses = [document.Reponse]  %}
	                    {% elseif  document.documents|length > 0  %}
		                     {% set  reponses = document.documents %}
	                    {% else %}
		                     {% set  reponses = [] %}
	                    {% endif %}
                            {% if reponses|length >0 %}
                                {% for reponse in reponses %}

                                    <div>
                                        
                                        <a type="submit" href="{{ path('app_documents_edit', {'id': reponse.id}) }}" class="btn btn-warning">
                                            <i class="icon-copy ion-edit"></i>
                                            &nbsp; Modifier
                                        </a>

                                    </div>

                                {% endfor %}
                            {% else %}
                                <div>

                                    <a type="submit" href="{{ path('app_documents_edit', {'id': document.id}) }}" class="btn btn-warning">
                                        <i class="icon-copy ion-edit"></i>
                                        &nbsp; Modifier
                                    </a>

                                </div>

                            {% endif %}

				</div>    
			</div>


		</div>


	</div>

 

<!-- Fin breacrum de document et de reponse -->
{% endblock %}

{% block list %}

    <!-- Debut box de formulaire de show des informations des documents-->
        <div class="pd-20 card-box mb-30">

            <div class="pb-20">
    
                <div class="clearfix">

                    <div
                        class="pull-left">
                        
                        <p class="mb-30">
                            <b>Informations concernant le document
                                {{document.Reference}}</b>
                        </p>
                    </div>

                </div>


                <div class="row">

                    <div class="col-md-6 col-sm-12 ">
                        <div class="form-group">
                            <label class="create__label" for="title">
                                Numero
                            </label>
                            <input class="form-control" type="text" name="name" value="{{ document.NumeroEnregistrement }}" readonly>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12  ">
                        <div class="form-group">
                            <label class="create__label" for="title">
                                Structure du document
                            </label>
                            <input class="form-control" type="text" name="name" value="{{ document.Structure }}" readonly>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12  ">
                        <div class="form-group">
                            <label class="create__label" for="title">
                                Mouvement du document
                            </label>
                            <input class="form-control" type="text" name="name" value="{{ document.Mouvement }}" readonly>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12  ">
                        <div class="form-group">
                            <label class="create__label" for="title">
                                Date d'arrivée  du document
                            </label>
                            <input class="form-control" type="text" name="name" readonly value="{{ document.DateArrivee ? document.DateArrivee|date('Y-m-d H:i:s') : '' }}">
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12  ">
                        <div class="form-group">
                            <label class="create__label" for="title">
                                Date du document
                            </label>
                            <input class="form-control" type="text" name="name" readonly value="{{ document.DateDocument ? document.DateDocument|date('Y-m-d H:i:s') : '' }}">
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12  ">
                        <div class="form-group">
                            <label class="create__label" for="title">
                                Date d'insertion du document dans SAGA
                            </label>
                            <input class="form-control" type="text" name="name" readonly value="{{ document.DocumentAt ? document.DocumentAt|date('Y-m-d H:i:s') : '' }}">
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12  ">
                        <div class="form-group">
                            <label class="create__label" for=" ">
                                Objet du document
                            </label>
                            <textarea class="form-control" rows="5" cols="10" readonly>{{ document.Objet }}</textarea>
                        </div>
                    </div>

                </div>

            </div>


        </div>
    <!-- Fin box de formulaire de show des informations des documents-->

    <!-- Debut box daffichage du documents-->
        <div class="pd-20 card-box mb-30">

            <div class="clearfix">

                <div
                    class="pull-left">
                    <!-- <h4 class="text-blue h4">Ajout d'un poste</h4> -->
                    <p class="mb-30">
                        <b>Apercu du document
                        </b>
                    </p>
                </div>

            </div>

            <div>
                <embed style="width: 100%; height:450px;border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); " src="{{document.DocumentAt ? document.DocumentAt|date('Y/m/d') : ''}}/{{document.Chemin}}"  type='application/pdf'></embed>
            </div>

            <div class="pd-20"></div>

        </div>
    <!-- Fin box daffichage du documents-->

    <!-- Debut box de show les provenances du document-->

        {% if document.provenances|length > 0 %}

        <div class="pd-20 card-box mb-30">

            <div class="pb-20">


            

                <div class="clearfix">
                    
                        <div
                            class="pull-left">
                            <!-- <h4 class="text-blue h4">Ajout d'un poste</h4> -->
                            <p class="mb-30">
                                <b>	Liste des provenances du document {{document.Reference}}</b>
                                </b>
                            </p>
                        </div>
    
                </div>


                <div  >


                    <div class="row">


                    
                        {% for provenance in document.provenances %}
                            <div class="table-responsive">
                                <table class="table table-striped">

                                    <tbody>
                                        <tr>
                                            <th scope="row">
                                                <a href="#" >
                                            
                                                {{ provenance.Structure}}
                                                avec le numéro
                                                {{ provenance.Numero}}
                                                le
                                                {{ provenance.DateEnregistrement ? provenance.DateEnregistrement|date('Y-m-d à h:m:s') : ''  }}
                                            </a>
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>


                        {% else %}
                            <p class="pl-20">>Pas de provenance pour ce document.</p>
                        {% endfor %}

                    </div>


                </div>

        
            </div>
        </div>

        {% endif %}
    <!-- Fin box de show les provenances du document-->
    
    <!-- Debut box de show des affectations du document-->
        <div class="pd-20 card-box mb-30">

            <div class="pb-20">
    
                <div class="clearfix">
                    
                        <div
                            class="pull-left">
                            <!-- <h4 class="text-blue h4">Ajout d'un poste</h4> -->
                            <p class="mb-30">
                                <b>	Liste des affectation du document {{document.Reference}}</b>
                                </b>
                            </p>
                        </div>
    
                </div>


                <div >
    
                    <div class="row">
    
                        <div class="table-responsive pl-20" >
                                <table class="table table-striped">

                                    <tbody>
                                        <tr>
                                            <th scope="row">
                                                <a  >
                                                
                                                {{ document.PosteOwner.Agent.Prenom }}
                                                {{ document.PosteOwner.Agent.Nom }}
                                                a créé ce document le
                                                {{ document.DocumentAt ? document.DocumentAt|date('Y-m-d H:i:s') : '' }}
                                            </a>
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>       
                
                    
                        {% for affectation in affectations %}

                            <div class="table-responsive pl-20">
                                <table class="table table-striped">

                                    <tbody>
                                        <tr>
                                            <th scope="row">
                                                <a href="{{ path('app_Affectations_show', {'id': affectation.id}) }}"  >
                                                
                                                    {{ affectation.Envoyeur }}
                                                    à affecter ce document à
                                                    {{ affectation.Receveur }}
                                                    le
                                                    {{ affectation.DateAffectationAt ? affectation.DateAffectationAt|date('Y-m-d à h:m:s') : '' }}
                                                </a>
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        {% else %}
                            <p class="pl-20 ">Pas encore d'affectation pour ce document.</p>
                        {% endfor %}

                    </div>


                </div>

        
            </div>
        </div>
    <!-- Fin box de show des affectations du document-->




    {% if document.Reponse %}
		 {% set reponses = [document.Reponse]  %}
	{% elseif  document.documents|length > 0  %}
		 {% set  reponses = document.documents %}
	{% else %}
		 {% set  reponses = [] %}
	{% endif %}
     {% if reponses|length >0 %}
			{% for reponse in reponses %}

                <!-- Debut box de formulaire de show des informations de reponses-->

                    <div class="pd-20 card-box mb-30">

                        <div class="pb-20">

                            <div class="clearfix">

                                <div
                                    class="pull-left">
                                    <!-- <h4 class="text-blue h4">Ajout d'un poste</h4> -->
                                    <p class="mb-30">

                                            {% if document.Reponse %}
                                                <b> Le document auquelle on a répondu</b>
                                            {% elseif  document.documents|length > 0  %}
                                            <b> Un document en réponse</b>
                                            {% endif %}
                                        
                                    </p>
                                </div>

                            </div>

                            <div class="clearfix">

                                <div
                                    class="pull-left">
                                    <!-- <h4 class="text-blue h4">Ajout d'un poste</h4> -->
                                    <p class="mb-30">
                                        <b><a href="{{ path('app_documents_show', {'id': reponse.id}) }}">  Informations concernant le document {{reponse.Reference}} </a></b>
                                    </p>
        
                                </div>

                            </div>


    
                            <div class="row">

                                <div class="col-md-6 col-sm-12 ">
                                    <div class="form-group">
                                        <label > Numero </label>
                                        <input class="form-control" type="text" name="name" value="{{ reponse.NumeroEnregistrement }}" readonly>
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-12  ">
                                    <div class="form-group">
                                        <label class="create__label" for="title">
                                            Structure du document
                                        </label>
                                        <input class="form-control" type="text" name="name" value="{{ reponse.Structure }}" readonly>
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-12  ">
                                    <div class="form-group">
                                        <label class="create__label" for="title">
                                            Mouvement du document
                                        </label>
                                        <input class="form-control" type="text" name="name" value="{{ reponse.Mouvement }}" readonly>
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-12  ">
                                    <div class="form-group">
                                        <label class="create__label" for="title">
                                            Date d'arrivée  du document
                                        </label>
                                        <input class="form-control" type="text" name="name" readonly value="{{ reponse.DateArrivee ? reponse.DateArrivee|date('Y-m-d H:i:s') : '' }}">
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-12  ">
                                    <div class="form-group">
                                        <label class="create__label" for="title">
                                            Date du document
                                        </label>
                                        <input class="form-control" type="text" name="name" readonly value="{{reponse.DateDocument ? reponse.DateDocument|date('Y-m-d H:i:s') : '' }}">
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-12  ">
                                    <div class="form-group">
                                        <label class="create__label" for="title">
                                            Date d'insertion du document dans SAGA
                                        </label>
                                        <input class="form-control" type="text" name="name" readonly value="{{  reponse.DocumentAt ? document.DocumentAt|date('Y-m-d H:i:s') : ''  }}">
                                    </div>
                                </div>

                                <div class="col-md-12 col-sm-12  ">
                                    <div class="form-group">
                                        <label class="create__label" for=" ">
                                            Objet du document
                                        </label>
                                        <textarea class="form-control" rows="5" cols="10" readonly>{{ reponse.Objet }}</textarea>
                                    </div>
                                </div>

                            </div>

                        </div>


                    </div>
                <!-- Fin box de formulaire de show des informations de reponses-->


                <!-- Debut box de apercu du document reponse-->

                    <div class="pd-20 card-box mb-30">

                        <div class="clearfix">

                            <div
                                class="pull-left">
                                <!-- <h4 class="text-blue h4">Ajout d'un poste</h4> -->
                                <p class="mb-30">
                                    <b>Apercu du document
                                    </b>
                                </p>
                            </div>

                        </div>

                        <div>
                            <embed style="width: 100%; height:450px;border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); " src="{{reponse.DocumentAt ? reponse.DocumentAt|date('Y/m/d') : ''}}/{{reponse.Chemin}}"  type='application/pdf'></embed>
                        </div>

                        <div class="pd-20"></div>

                    </div>

                <!-- fin box de apercu du document reponse-->

    
                <!-- Debut box de show des provenances du document reponse-->
                    {% if reponse.provenances|length > 0 %}

                    <div class="pd-20 card-box mb-30">

                        <div class="pb-20">


            

                                <div class="clearfix">
                                    
                                        <div
                                            class="pull-left">
                                            <!-- <h4 class="text-blue h4">Ajout d'un poste</h4> -->
                                            <p class="mb-30">
                                                <b>	Liste des provenances du document {{document.Reference}}</b>
                                                </b>
                                            </p>
                                        </div>
                    
                                </div>


                                <div  >


                                    <div class="row">
    
                                        {% for provenance in reponse.provenances %}
                                            <div class="table-responsive">
                                                <table class="table table-striped">

                                                    <tbody>
                                                        <tr>
                                                            <th scope="row">
                                                                <a href="#" >
                                                            
                                                                {{ provenance.Structure}}
                                                                avec le numéro
                                                                {{ provenance.Numero}}
                                                                le
                                                                {{ provenance.DateEnregistrement ? provenance.DateEnregistrement|date('Y-m-d à h:m:s') : ''  }}
                                                            </a>
                                                            </th>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>


                                        {% else %}
                                            <p class="pl-20">Pas de provenance pour ce document.</p>
                                        {% endfor %}

                                    </div>


                                </div>

                        
                            </div>
                        </div>
                    {% endif %}
                <!--Fin box de show des provenances du document reponse-->
    
                <!-- Debut box de show des affectations du document reponse-->
                    <div class="pd-20 card-box mb-30">

                        <div class="pb-20">
                
                            <div class="clearfix">
                                
                                    <div
                                        class="pull-left">
                                        <!-- <h4 class="text-blue h4">Ajout d'un poste</h4> -->
                                        <p class="mb-30">
                                            <b>	Liste des affectation du document </b>
                                            </b>
                                        </p>
                                    </div>
                
                            </div>


                            <div  >


                                <div class="row">


                                        <div class="table-responsive pl-20" >
                                            <table class="table table-striped">

                                                <tbody>
                                                    <tr>
                                                        <th scope="row">
                
                                                            <a>
                                                            
                                                            {{ reponse.PosteOwner.Agent.Prenom }}
                                                            {{ reponse.PosteOwner.Agent.Nom }}
                                                            a créé ce document le
                                                            {{ reponse.DocumentAt ? reponse.DocumentAt|date('Y-m-d H:i:s') : '' }}
                                                        </a>
                                                        </th>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>




                                    
                                                    
                                
                                    {% for affectation in affectations %}
                                        <div class="table-responsive pl-20">
                                            <table class="table table-striped">

                                                <tbody>
                                                    <tr>
                                                        <th scope="row">
                                                            
                                                            <a href="{{ path('app_Affectations_show', {'id': affectation.id}) }}"  >
                                                            
                                                                {{ affectation.Envoyeur }}
                                                                à affecter ce document à
                                                                {{ affectation.Receveur }}
                                                                le
                                                                {{ affectation.DateAffectationAt ? affectation.DateAffectationAt|date('Y-m-d à h:m:s') : '' }}
                                                            </a>
                                                        </th>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>


                                    {% else %}
                                        <p class="pl-20 ">Pas encore d'affectation pour ce document.</p>
                                    {% endfor %}

                                </div>


                            </div>

                    
                        </div>
                    </div>
                <!-- Fin box de show des affectations du document reponse-->

	        {% endfor %}
     {% endif %}	

{% endblock %}







                





					 








							



                                
 

								 

 

											