{% extends 'base2.html.twig' %}


{% block title %}Modification de direction
{% endblock %}

{% block main %}{% endblock %}

{% block breadcrumb %}

	<div class="page-header">
		<div class="row">
			<div class="col-md-6 col-sm-12">
				<div class="title">
					<h4>Modifier une direction</h4>
				</div>
				<nav aria-label="breadcrumb" role="navigation">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{path("Accueil")}}">Accueil</a>
						</li>
						<li class="breadcrumb-item">
							<a href="{{ path('app_directions_index') }}">Liste des directions</a>
						</li>
						<li class="breadcrumb-item active" aria-current="page">
							Modifier une direction
						</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>

{% endblock %}


{% block list %}
	<div class="card-box mb-30">

		<div class="pb-20">

			<div class="clearfix">
				<div class="pd-20   ">
					<div
						class="pull-left">
						<!-- <h4 class="text-blue h4">Ajout d'un poste</h4> -->
						<p class="mb-30">
							<b>Formulaire de modification de direction
							</b>
						</p>
					</div>

				</div>
			</div>


			<div class="container">

				{{ form_start(form) }}

				<div class="row">

					<div class="col-md-6 col-sm-12 ">
						<div class="form-group">
							<label>{{ form_label(form.Code, 'Code de la direction', {'label_attr': {'class': 'foo'}}) }}</label>
							{{ form_widget(form.Code, {'attr': {'class': 'form-control','placeholder': "Insérez le code de la direction" }}) }}

						</div>
					</div>


					<div class="col-md-6 col-sm-12">
						<div class="form-group">
							<label class="create__label" for="title">{{ form_label(form.Libelle, 'Libellé de la direction', {'label_attr': {'class': 'foo'}}) }}</label>
							<div>{{ form_widget(form.Libelle, {'attr': {'class': 'form-control','placeholder': "Insérez le libellé de la direction" }}) }}</div>
						</div>
					</div>


					<div class="col-md-6 col-sm-12">
						<div class="form-group">
							<button class="create__btn-create btn btn--type-02 btn btn-success">{{ button_label|default('Modifier') }}</button>

						</div>
					</div>


				</div>


			</div>

			{{ form_end(form) }}


		</div>


	</div>


{% endblock %}
