{% extends 'base2.html.twig' %}


{% block title %}Modifier Poste
{% endblock %}

{% block main %}{% endblock %}

{% block breadcrumb %}

	<div class="page-header">
		<div class="row">
			<div class="col-md-6 col-sm-12">
				<div class="title">
					<h4>Modifier Poste</h4>
				</div>
				<nav aria-label="breadcrumb" role="navigation">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{path("Accueil")}}">Accueil</a>
						</li>
						<li class="breadcrumb-item">
							<a href="{{ path('app_postes_index') }}">Liste des postes</a>
						</li>
						<li class="breadcrumb-item active" aria-current="page">
							Modifier Poste
						</li>
					</ol>
				</nav>
			</div>


		</div>


	</div>
{% endblock %}


{% block list %}


	<div class="card-box mb-30">

		<div class="pb-20">

			<div class="clearfix">
				<div class="pd-20   ">
					<div
						class="pull-left">
						<!-- <h4 class="text-blue h4">Ajout d'un poste</h4> -->
						<p class="mb-30">
							<b>Formulaire de modification d'un poste</b>
						</p>
					</div>

				</div>
			</div>


			<div class="container">
            
				{{ form_start(form) }}

				<div class="row">
 
					<div class="col-md-6 col-sm-12 ">
						<div class="form-group">
							<label>{{ form_label(form.Niveau, 'Niveau', {'label_attr': {'class': ' '}}) }}</label>
							{{ form_widget(form.Niveau, {'attr': {'class': 'custom-select2 form-control', 'value': poste.Niveau == "Division" or poste.Niveau == "Service" ? "Chef "~poste.Niveau: poste.Niveau }}) }}
						</div>
					</div>

					<div class="col-md-6 col-sm-12  ">
						<div class="form-group">
							<label>{{ form_label(form.Type, 'Type de Poste', {'label_attr': {'class': ' '}}) }}</label>
							{{ form_widget(form.Type, {'attr': {'class': 'custom-select2 form-control', 'value': poste.Type }}) }}
						</div>
					</div>

					<div class="col-md-6 col-sm-12">
						<div class="form-group">
							<label class="create__label" for="title">{{ form_label(form.DateDeb, 'Date de début', {'label_attr': {'class': ''}}) }}</label>
							{{ form_widget(form.DateDeb, {'attr': {'class': ' form-control', 'value': poste.DateDeb ? poste.DateDeb|date('d-m-Y'):''}}) }}

						</div>
					</div>

					<div class="col-md-6 col-sm-12">
						<div class="form-group">
							<label class="create__label" for="title">{{ form_label(form.DateFin, 'Date de Fin', {'label_attr': {'class': 'foo'}}) }}</label>
							{{ form_widget(form.DateFin, {'attr': {'class': ' form-control','value': poste.DateFin ? poste.DateFin|date('d-m-Y'):'' }}) }}
						</div>
					</div>

					<div class="col-md-6 col-sm-12">
						<div class="form-group">
							<label class="create__label" for="title">{{ form_label(form.Fonction, 'Fonction', {'label_attr': {'class': 'foo'}}) }}</label>
							{{ form_widget(form.Fonction, {'attr': {'class': 'custom-select2 form-control', 'value': poste.Fonction }}) }}
						</div>
					</div>


					<div class="col-md-6 col-sm-12">
						<div class="form-group">
							<label class="create__label" for="title">{{ form_label(form.Agent, 'Agent', {'label_attr': {'class': 'foo'}}) }}</label>
							{{ form_widget(form.Agent, {'attr': {'class': 'custom-select2 form-control', 'value': poste.Agent }}) }}
						</div>
					</div>

					<div class="col-md-6 col-sm-12">
						<div class="form-group">

							<button class="create__btn-create btn btn--type-02 btn btn-warning">{{ button_label|default('Modifier') }}</button>

						</div>
					</div>


				</div>

				{{ form_end(form) }}


			</div>


		</div>
	</div>


{% endblock %}
  
