{% extends 'base2.html.twig' %}
{% block title %}Visualisation de divisions
{% endblock %}

{% block main %}{% endblock %}


{% block breadcrumb %}

	<div class="page-header">
		<div class="row">
			<div class="col-md-6 col-sm-12">
				<div class="title">
					<h4>Visualiser une division</h4>
				</div>
				<nav aria-label="breadcrumb" role="navigation">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{path("Accueil")}}">Accueil</a>
						</li>
						<li class="breadcrumb-item">
							<a href="{{ path('app_divisions_index') }}">Liste des divisions</a>
						</li>
						<li class="breadcrumb-item active" aria-current="page">
							Visualiser une division
						</li>
					</ol>
				</nav>
			</div>

			<div class="col-md-6 col-sm-12 text-right">
				<div>

					<div>
						<a type="submit" href="{{ path('app_divisions_edit', {'id': division.id}) }}" class="btn btn-warning">
							<i class="icon-copy ion-edit"></i>
							&nbsp; Modifier
						</a>

					</div>

				</div>
			</div>


		</div>


	</div>
{% endblock %}


{% block list %}

	<div class="pd-20 card-box mb-30">

		<div class="pb-20">

			<div class="clearfix">
			 
					<div
						class="pull-left">
						<!-- <h4 class="text-blue h4">Ajout d'un poste</h4> -->
						<p class="mb-30">
							<b>Fiche de divisions</b>
						</p>
					</div>

				 
			</div>


			<div >


				<div class="row">


					<div class="col-md-6 col-sm-12 ">
						<div class="form-group">
							<label>Code de la division</label>
							<input type="text" name="id" class="form-control" placeholder="Disabled input" disabled="" value="{{ division.Code }}">
						</div>
					</div>

					<div class="col-md-6 col-sm-12  ">
						<div class="form-group">
							<label>Libelle de la division</label>
							<input type="text" name="Type" class="form-control" placeholder="Disabled input" disabled="" value="{{division.Libelle}}">
						</div>
					</div>

				</div>


			</div>


		</div>
	</div>


	<div class="pd-20 card-box mb-30">

		<div class="pb-20">

			<div class="clearfix">
				<div class="pd-20   ">
					<div
						class="pull-left">
						<!-- <h4 class="text-blue h4">Ajout d'un poste</h4> -->
						<p class="mb-30">
							<b>Liste des utilisateurs de la
								{{division.Libelle}}
							</b>
						</p>
					</div>

				</div>
			</div>


			<div class="container">


				<div class="row">

					{% for user in users %}
						<div class="table-responsive">
							<table class="table table-striped">

								<tbody>
									<tr>
										<th scope="row">
											<a href="{{ path('app_users_show', {'id': user.id}) }}">

												{{ user.Nom }}
												{{ user.Prenom }}
											</a>
										</th>
									</tr>
								</tbody>
							</table>
						</div>


					{% else %}
						<p>Pas d'utilisateurs dans cette division.</p>
					{% endfor %}

				</div>


			</div>


		</div>
	</div>


{% endblock %}
