{% extends 'base.html.twig' %}

{% block title %}Divisions{% endblock %}

 

    {# {{ include('divisions/_delete_form.html.twig') }} #}

{% block add %}
    <a href="{{path('app_divisions_new')}}">
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg>
        {#<img src="{{ 'assets/Dashboard/fonts/icons/main/New_Topic.svg'}}" alt="Ajout">#}
    </a>
{% endblock %}

{% block list %}
 

     <div style="  margin-top: 15px; margin-bottom:15px" >
   <div style="text-align:left;"> <a class="btn btn-success"  href="{{ path('app_divisions_index') }}">Retour</a></div>
 
   </div>

     <div class="topic">
                    <div class="topic__head"   style="margin-bottom: -50px;">
                         <div class="topic__caption">
                                <div class="topic__name mb-n5 pb-5">
                                        <h5>{{division.Libelle}}<h5>
                                 </div>
                                     
                                 <div class="topic__date"> <a class="btn btn-warning mt-5"  href="{{ path('app_divisions_edit', {'id': division.id}) }}">Modifier</a></div>
                         </div>
                    </div>
                        
                    <div class="create">
                               
                            <div class="create__section ">

                                <div class="d-flex justify-content-start">
                                    <label class="create__label" for="title"> Code de la division </label>
                                    <input class="form-control" type="text" name="name" value="{{ division.Code }}"readonly> </div>    
                                </div>

                                <div class="create__section">
                                    <label class="create__label" for="title"> Libellé de la division  </label>
                                    <input class="form-control" type="text" name="name" value="{{ division.Libelle }}"readonly> </div>
                                </div>

                                {#<div style="text-align:right; margin-top:17px"> <a class="btn btn-danger"  href=" ">Supprimer</a></div>#} 


                                {# <div class="topic__head"   style="margin-bottom: -50px;">
                                    <div class="topic__caption">
                                            <div class="topic__name mb-n5 pb-5">
                                                    <h5>Informations concernant la {{division.Libelle}}<h5>
                                            </div>

                                            
                                     </div>


                                        
                                </div> #}

                                {# <div class="create">
                                        <div class="create__section">
                                            <label class="create__label" for="title"> <h6> Liste des services <h6></label>
                                              <a href="#" style="margin-left:20px ;" class="category"><i class="bg-5dd39e"></i>1er serviceeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee</a> 
                                            
                                        </div> 
                                                                     
                                </div> #}
                                <div class="create">
                                        <div class="create__section">
                                            <label class="create__label" for="title"> <h6> Liste des utilisateurs de la direction. <h6></label>
                                            {% for user in users %}
 
                                                        <a href="{{ path('app_users_show', {'id': user.id}) }}" style="margin-left:20px ;font-size:18px" class="category"><i class="bg-5dd39e"></i>   {{ user.Nom }} {{ user.Prenom }}   </a>  <br>
 
                                            {% else %}
                                                <p >Pas d'utilisateurs dans cette divison.</p>
                                            {% endfor %} 
                                            
                                        </div> 
                                                                     
                                </div>
                            </div>
 
                    </div>
 
                    
    </div>
                     

{% endblock %}

 

