<!DOCTYPE html>
<html>
	<head>
		<!-- Basic Page Info -->
		<meta charset="utf-8"/>
		<title>
			{% block title %}DeskApp - Bootstrap Admin Dashboard HTML Template
			{% endblock %}
		</title>


		<!-- Site favicon -->

		<link
		rel="icon" type="image/png" sizes="32x32" href="{{ asset('/build/images/logo-dgml.06f184b2.png') }}"/>


		<!-- Mobile Specific Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
		{{ encore_entry_link_tags('deskapp') }}
		<!-- Google Font -->
		<link
		href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet"/>
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="{{ asset('assets/deskapp/vendors/styles/core.css') }}"/>
		 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/switchery/0.8.2/switchery.min.css">
		<link rel="stylesheet" type="text/css" href="{{ asset('assets/deskapp/vendors/styles/icon-font.min.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ asset('assets/deskapp/src/plugins/jvectormap/jquery-jvectormap-2.0.3.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ asset('assets/deskapp/styles/style.css') }}"/>


		-->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-GBZ3SGGX85"></script>
		 
		<script>
			window.dataLayer = window.dataLayer || [];
					function gtag() {
					dataLayer.push(arguments);
					}
					gtag("js", new Date());

					gtag("config", "G-GBZ3SGGX85");
							</script>
							<!-- Google Tag Manager -->
							<script>
								(function (w, d, s, l, i) {
					w[l] = w[l] || [];
					w[l].push({"gtm.start": new Date().getTime(), event: "gtm.js"});
					var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s),
					dl = l != "dataLayer" ? "&l=" + l : "";
					j.async = true;
					j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
					f.parentNode.insertBefore(j, f);
					})(window, document, "script", "dataLayer", "GTM-NXZMQSS");
		</script>
		<!-- End Google Tag Manager -->

	</head>
	<body>

		{% block header %}
			<div class="header">
				<div class="header-left">


					<div class="menu-icon bi bi-list"></div>
					<div class="search-toggle-icon bi bi-search" data-toggle="header_search"></div>

					<!--<div>Système Automatisé de Gestion d'Archives de la {{ dg }}</div>
														 Formulaire de recherche
																							<div class="header-search">
																								<form>
																									<div class="form-group mb-0">
																										<i class="dw dw-search2 search-icon"></i>
																										<input
																											type="text"
																											class="form-control search-input"
																											placeholder="Search Here"
																										/>
																										<div class="dropdown">
																											<a
																												class="dropdown-toggle no-arrow"
																												href="#"
																												role="button"
																												data-toggle="dropdown"
																											>
																												<i class="ion-arrow-down-c"></i>
																											</a>
																											<div class="dropdown-menu dropdown-menu-right">
																												<div class="form-group row">
																													<label class="col-sm-12 col-md-2 col-form-label"
																														>From</label
																													>
																													<div class="col-sm-12 col-md-10">
																														<input
																															class="form-control form-control-sm form-control-line"
																															type="text"
																														/>
																													</div>
																												</div>
																												<div class="form-group row">
																													<label class="col-sm-12 col-md-2 col-form-label">To</label>
																													<div class="col-sm-12 col-md-10">
																														<input
																															class="form-control form-control-sm form-control-line"
																															type="text"
																														/>
																													</div>
																												</div>
																												<div class="form-group row">
																													<label class="col-sm-12 col-md-2 col-form-label"
																														>Subject</label
																													>
																													<div class="col-sm-12 col-md-10">
																														<input
																															class="form-control form-control-sm form-control-line"
																															type="text"
																														/>
																													</div>
																												</div>
																												<div class="text-right">
																													<button class="btn btn-primary">Search</button>
																												</div>
																											</div>
																										</div>
																									</div>
																								</form>
																							</div> -->
				</div>


				<div class="header-right">


					<div class="dashboard-setting user-notification">
						<div class="dropdown">
							<a class="dropdown-toggle no-arrow" href="javascript:;" data-toggle="right-sidebar">

								<i class="dw dw-settings2"></i>
							</a>
						</div>
					</div>

 


					<div class="user-info-dropdown">
						<div class="dropdown">
							<a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
								<span class="user-icon">
									<img src={{ asset('/build/images/avatar.d5137e48.png') }}>
								</span>
								<span class="user-name">
									<b>{{ app.user.nom }}</b>
								</span>
							</a>
							<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">


								<a class="dropdown-item" href={{ path('changePassword') }}>
									<i class="dw dw-edit2"></i>
									Modifier votre profil
								</a>


								<a class="dropdown-item" {{ path('logout') }}>
									<i class="dw dw-logout"></i>
									Se deconnecter</a>
							</div>
						</div>
					</div>
					<div class="github-link">
						<img src={{ asset('/build/images/github.966912b1.svg') }} alt=""/>
					</div>
				</div>
			</div>
		{% endblock %}

		<!-- Profile code  -->

		<!--barre Menu transversal gauche-->

		<!--barre Menu de modiffication dark ou white-->

			<div class="right-sidebar"> <div class="sidebar-title">
				<h3 class="weight-600 font-16 text-blue">
					Layout Settings
					<span class="btn-block font-weight-400 font-12">User Interface Settings</span>
				</h3>
				<div class="close-sidebar" data-toggle="right-sidebar-close">
					<i class="icon-copy ion-close-round"></i>
				</div>
			</div>
			<div class="right-sidebar-body customscroll">
				<div class="right-sidebar-body-content">
					<h4 class="weight-600 font-18 pb-10">Header Background</h4>
					<div class="sidebar-btn-group pb-30 mb-10">
						<a href="javascript:void(0);" class="btn btn-outline-primary header-white active">White</a>
						<a href="javascript:void(0);" class="btn btn-outline-primary header-dark">Dark</a>
					</div>

					<h4 class="weight-600 font-18 pb-10">Sidebar Background</h4>
					<div class="sidebar-btn-group pb-30 mb-10">
						<a href="javascript:void(0);" class="btn btn-outline-primary sidebar-light">White</a>
						<a href="javascript:void(0);" class="btn btn-outline-primary sidebar-dark active">Dark</a>
					</div>

					<h4 class="weight-600 font-18 pb-10">Menu Dropdown Icon</h4>
					<div class="sidebar-radio-group pb-10 mb-10">
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="sidebaricon-1" name="menu-dropdown-icon" class="custom-control-input" value="icon-style-1" checked=""/>
							<label class="custom-control-label" for="sidebaricon-1">
								<i class="fa fa-angle-down"></i>
							</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="sidebaricon-2" name="menu-dropdown-icon" class="custom-control-input" value="icon-style-2"/>
							<label class="custom-control-label" for="sidebaricon-2">
								<i class="ion-plus-round"></i>
							</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="sidebaricon-3" name="menu-dropdown-icon" class="custom-control-input" value="icon-style-3"/>
							<label class="custom-control-label" for="sidebaricon-3">
								<i class="fa fa-angle-double-right"></i>
							</label>
						</div>
					</div>

					<h4 class="weight-600 font-18 pb-10">Menu List Icon</h4>
					<div class="sidebar-radio-group pb-30 mb-10">
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="sidebariconlist-1" name="menu-list-icon" class="custom-control-input" value="icon-list-style-1" checked=""/>
							<label class="custom-control-label" for="sidebariconlist-1">
								<i class="ion-minus-round"></i>
							</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="sidebariconlist-2" name="menu-list-icon" class="custom-control-input" value="icon-list-style-2"/>
							<label class="custom-control-label" for="sidebariconlist-2">
								<i class="fa fa-circle-o" aria-hidden="true"></i>
							</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="sidebariconlist-3" name="menu-list-icon" class="custom-control-input" value="icon-list-style-3"/>
							<label class="custom-control-label" for="sidebariconlist-3">
								<i class="dw dw-check"></i>
							</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="sidebariconlist-4" name="menu-list-icon" class="custom-control-input" value="icon-list-style-4" checked=""/>
							<label class="custom-control-label" for="sidebariconlist-4">
								<i class="icon-copy dw dw-next-2"></i>
							</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="sidebariconlist-5" name="menu-list-icon" class="custom-control-input" value="icon-list-style-5"/>
							<label class="custom-control-label" for="sidebariconlist-5">
								<i class="dw dw-fast-forward-1"></i>
							</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="sidebariconlist-6" name="menu-list-icon" class="custom-control-input" value="icon-list-style-6"/>
							<label class="custom-control-label" for="sidebariconlist-6">
								<i class="dw dw-next"></i>
							</label>
						</div>
					</div>

					<div class="reset-options pt-30 text-center">
						<button class="btn btn-danger" id="reset-settings">
							Reset Settings
						</button>
					</div>
				</div>
			</div>
		</div>

		<!-- fin barre Menu de modification dark ou white-->

		<!--fin barre Menu transversal gauche-->

		<!--barre Menu sidebar-->

			{% block sidebar %}

				<div class="left-side-bar"> <div class="brand-logo">
					<a href="index.html">
						<img
						src="{{ asset('/build/images/logo-dgml.06f184b2.png') }}" style="margin-top: 10px;margin-bottom: 10px;margin-left: 50px;position: center;" alt="logo" width="60px" height="50px">
					<!--<img src="vendors/images/deskapp-logo.svg" alt="" class="dark-logo"/>
																<img src="vendors/images/deskapp-logo-white.svg" alt="" class="light-logo"/>-->
					</a>
					<div class="close-sidebar" data-toggle="left-sidebar-close">
						<i class="ion-close-round"></i>
					</div>
				</div>
				<div class="menu-block customscroll">
					<div class="sidebar-menu">
						<ul id="accordion-menu">
							<li>
								<a href="{{path("Accueil")}}" class="dropdown-toggle no-arrow">
									<span class="micon bi bi-house"></span>
									<span class="mtext">Accueil</span>
								</a>
							</li>


							{% for role in app.user.roles %}
								{% if role == "ROLE_ADMIN" %}
									<li class="dropdown">
										<a href="javascript:;" class="dropdown-toggle">
											<span class="micon bi bi-diagram-3"></span>
											<span class="mtext">Organisation</span>
										</a>
										<ul class="submenu">

											<li>
												<a href="{{ path('app_directions_index')}}">Directions</a>
											</li>
											<li>
												<a href="{{ path('app_services_index')}}">Services</a>
											</li>
											<li>
												<a href="{{ path('app_divisions_index')}}">Divisions</a>
											</li>
											<li>
												<a href="{{ path('app_users_index')}}">Utilisateurs</a>
											</li>
											<li>
												<a href="{{ path('app_secretariats_index')}}">Point de traitement</a>
											</li>
											<li>
												<a href="{{ path('app_postes_index')}}">Postes</a>
											</li>
											<li>
												<a href="{{ path('app_type_documents_index')}}">Type de documents</a>
											</li>
										</ul>
									</li>
								{% endif %}
							{% endfor %}


							<li>
								<a href="{{ path('app_documents_index')}}" class="dropdown-toggle no-arrow">
									<span class="micon bi bi-file-earmark-text"></span>
									<span class="mtext">Documents
									</span>

								</a>
							</li>

							{% if app.user.zone == "SA" or app.user.zone == "SP" or app.user.zone == "SAP" or app.user.niveau == "Admin" %}


								<li>
									<a href="{{ path('app_documents_attache')}}" class="dropdown-toggle no-arrow">
										<span class="micon bi bi-command"></span>
										<span class="mtext">Attaches</span>
									</a>
								</li>

							{% endif %}


							<li>
								<a href="{{ path('app_Affectations_index')}}" class="dropdown-toggle no-arrow">
									<span class="micon bi bi-chat-right-dots"></span>
									<span class="mtext">Affectations</span>
								</a>
							</li>
							<li>
								<a href="{{ path('app_statistiques_index')}}" class="dropdown-toggle no-arrow">
									<span class="micon bi bi-receipt-cutoff"></span>
									<span class="mtext">Statistiques</span>
								</a>
							</li>


							{% for role in app.user.roles %}
								{% if role == "ROLE_ADMIN" %}

									<li>
										<a href="{{ path('app_smq')}}" class="dropdown-toggle no-arrow">
											<span class="micon bi bi-pie-chart"></span>
											<span class="mtext">SMQ</span>
										</a>
									</li>

								{% endif %}
							{% endfor %}


						</ul>
					</div>
				</div>
			</body>
		</body>
	</html>
</div>
<div class="mobile-menu-overlay"></div>{% endblock %}






<!-- Main Container -->
	<div class="main-container">
		<div class="xs-pd-20-10 pd-ltr-20">

		{% block main %}
			<div class="card-box pd-20 height-100-p mb-30">
				<div class="row align-items-center">
					<div class="col-md-4">
						<img src="{{ asset('/build/images/logo-dgml.06f184b2.png') }}" style="width: 150px; height: 150px;" alt=""/>

						</div>
							<div class="col-md-8">
								<h4 class="font-20 weight-500 mb-10 text-capitalize">
									Welcome back
									<div class="weight-600 font-30 text-blue">Johnny Brown!</div>
								</h4>
								<p class="font-18 max-width-600">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde
									hic non repellendus debitis iure, doloremque assumenda. Autem
									
								</p>
							</div>
						</div>
				</div>
		{% endblock %}


	{% block breadcrumb %}

	<div class="page-header">
		<div class="row">
			<div class="col-md-6 col-sm-12">
				<div class="title">
					<h4>Dashboard</h4>
				</div>
				<nav aria-label="breadcrumb" role="navigation">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="index.html">Home</a>
						</li>
						<li class="breadcrumb-item active" aria-current="page">
							Dashboard
						</li>
					</ol>
				</nav>
			</div>
			<div class="col-md-6 col-sm-12 text-right">
				<div class="dropdown">
					<a class="btn btn-primary dropdown-toggle" href="#" role="button" data-toggle="dropdown">
						January 2018
					</a>
					<div class="dropdown-menu dropdown-menu-right">
						<a class="dropdown-item" href="#">Export List</a>
						<a class="dropdown-item" href="#">Policies</a>
						<a class="dropdown-item" href="#">View Assets</a>
					</div>
				</div>
			</div>
		</div>


	</div>
	{% endblock %}

	{% block list %}

		<!-- Export Datatable start -->
		<div class="card-box mb-30">
			<div class="pd-20">
				<h4 class="text-blue h4">Data Table with Export Buttons</h4>
			</div>
			<div class="pb-20">
				<table class="table hover multiple-select-row data-table-export">
					<thead>
						<tr>
							<th class="table-plus datatable-nosort">Name</th>
							<th>Age</th>
							<th>Office</th>
							<th>Address</th>
							<th>Start Date</th>
							<th>Salart</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="table-plus">Gloria F. Mead</td>
							<td>25</td>
							<td>Sagittarius</td>
							<td>2829 Trainer Avenue Peoria, IL 61602</td>
							<td>29-03-2018</td>
							<td>$162,700</td>
						</tr>
						<tr>
							<td class="table-plus">Andrea J. Cagle</td>
							<td>30</td>
							<td>Gemini</td>
							<td>1280 Prospect Valley Road Long Beach, CA 90802</td>
							<td>29-03-2018</td>
							<td>$162,700</td>
						</tr>
						<tr>
							<td class="table-plus">Andrea J. Cagle</td>
							<td>20</td>
							<td>Gemini</td>
							<td>2829 Trainer Avenue Peoria, IL 61602</td>
							<td>29-03-2018</td>
							<td>$162,700</td>
						</tr>
						<tr>
							<td class="table-plus">Andrea J. Cagle</td>
							<td>30</td>
							<td>Sagittarius</td>
							<td>1280 Prospect Valley Road Long Beach, CA 90802</td>
							<td>29-03-2018</td>
							<td>$162,700</td>
						</tr>
						<tr>
							<td class="table-plus">Andrea J. Cagle</td>
							<td>25</td>
							<td>Gemini</td>
							<td>2829 Trainer Avenue Peoria, IL 61602</td>
							<td>29-03-2018</td>
							<td>$162,700</td>
						</tr>
						<tr>
							<td class="table-plus">Andrea J. Cagle</td>
							<td>20</td>
							<td>Sagittarius</td>
							<td>1280 Prospect Valley Road Long Beach, CA 90802</td>
							<td>29-03-2018</td>
							<td>$162,700</td>
						</tr>
						<tr>
							<td class="table-plus">Andrea J. Cagle</td>
							<td>18</td>
							<td>Gemini</td>
							<td>1280 Prospect Valley Road Long Beach, CA 90802</td>
							<td>29-03-2018</td>
							<td>$162,700</td>
						</tr>
						<tr>
							<td class="table-plus">Andrea J. Cagle</td>
							<td>30</td>
							<td>Sagittarius</td>
							<td>1280 Prospect Valley Road Long Beach, CA 90802</td>
							<td>29-03-2018</td>
							<td>$162,700</td>
						</tr>
						<tr>
							<td class="table-plus">Andrea J. Cagle</td>
							<td>30</td>
							<td>Sagittarius</td>
							<td>1280 Prospect Valley Road Long Beach, CA 90802</td>
							<td>29-03-2018</td>
							<td>$162,700</td>
						</tr>
						<tr>
							<td class="table-plus">Andrea J. Cagle</td>
							<td>30</td>
							<td>Gemini</td>
							<td>1280 Prospect Valley Road Long Beach, CA 90802</td>
							<td>29-03-2018</td>
							<td>$162,700</td>
						</tr>
						<tr>
							<td class="table-plus">Andrea J. Cagle</td>
							<td>30</td>
							<td>Gemini</td>
							<td>1280 Prospect Valley Road Long Beach, CA 90802</td>
							<td>29-03-2018</td>
							<td>$162,700</td>
						</tr>
						<tr>
							<td class="table-plus">Andrea J. Cagle</td>
							<td>30</td>
							<td>Gemini</td>
							<td>1280 Prospect Valley Road Long Beach, CA 90802</td>
							<td>29-03-2018</td>
							<td>$162,700</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- Export Datatable End -->
	{% endblock %}

 

		<div class="footer-wrap pd-20 mb-20 card-box">
			SAGA - <span>&copy; {{ dg }} République du Bénin le  {{ "now"|date('d/m/Y') }}</span>
		 
		</div>

	 <span style="display:flex ;margin-bottom:-5px;top:0:">
                        <i style="width: 100%; height:8px;  padding: 0px; background-color:RGB(16,135,87);"> </i>
                        <i style="width: 100% ;  height:8px; background-color:#FFD400;"> </i>
                        <i style="width: 100% ; height:8px; background-color:rgb(235, 0, 0);"> </i>
                    
                    </span>
</div>
 


<!-- js -->


{{ encore_entry_script_tags('deskapp') }}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 

    <!-- Inclure PDF.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf.worker.min.js"></script> 
<script src="{{ asset('assets/deskapp/vendors/scripts/core.js') }}"></script>
<script src="{{ asset('assets/deskapp/vendors/scripts/apercupdf.js') }}"></script>
<script src="{{ asset('assets/deskapp/vendors/scripts/script.min.js') }}"></script>
<script src="{{ asset('assets/deskapp/vendors/scripts/layout-settings.js') }}"></script>
<script src="{{ asset('assets/deskapp/vendors/scripts/process.js') }}"></script>
<script src="{{ asset('assets/deskapp/plugins/datatables/js/jquery.dataTables.min.js') }}">
</script><script src="{{ asset('assets/deskapp/plugins/datatables/js/dataTables.bootstrap4.min.js') }}">
</script><script src="{{ asset('assets/deskapp/plugins/datatables/js/dataTables.responsive.min.js') }}">
</script><script src="{{ asset('assets/deskapp/plugins/datatables/js/responsive.bootstrap4.min.js') }}">
</script><!-- buttons for Export datatable --><script src="{{ asset('assets/deskapp/plugins/datatables/js/dataTables.buttons.min.js') }}">
</script><script src="{{ asset('assets/deskapp/plugins/datatables/js/buttons.bootstrap4.min.js') }}">
</script><script src="{{ asset('assets/deskapp/plugins/datatables/js/buttons.print.min.js') }}">
</script><script src="{{ asset('assets/deskapp/plugins/datatables/js/buttons.html5.min.js') }}">
</script><script src="{{ asset('assets/deskapp/plugins/datatables/js/buttons.flash.min.js') }}">
</script><script src="{{ asset('assets/deskapp/plugins/datatables/js/pdfmake.min.js') }}"></script>
<script src="{{ asset('assets/deskapp/src/plugins/datatables/js/vfs_fonts.js') }}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/switchery/0.8.2/switchery.min.js"></script>
  
   

    
   
</script><!-- Datatable Setting js --><script src="{{ asset('assets/deskapp/vendors/scripts/datatable-setting.js') }}">
</script></body></html></script><!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NXZMQSS" height="0" width="0" style="display: none; visibility: hidden"></iframe>
</noscript><!-- End Google Tag Manager (noscript) --></body></html>
  

  
             
              