<!DOCTYPE html>
<html lang='fr' class='bg-gray'>
	<!-- Mirrored from sgg.gouv.bj/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 07 Sep 2022 14:04:04 GMT -->
	<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
    <head>
		{% block meta %}
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1, maximum-scale=1">
            <meta name="keywords" content="SAGA {{ dg }}">
            <meta name="description" content="Section consultation de SAGA">
            <meta name="author" content="Winner KING Technologie">
			<meta name='description' content='Lire et télécharger les comptes rendus des conseils des ministres, décrets, lois promulguées, arrêtés présidentiels et ordonnances de la République du Bénin' />
			<meta http-equiv="cache-control" content="no-cache, must-revalidate, post-check=0, pre-check=0" />
			<meta http-equiv="cache-control" content="max-age=0" />
			<meta http-equiv="expires" content="0" />
			<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
			<meta http-equiv="pragma" content="no-cache" />
			<meta property='fb:app_id' content='798097520521275' />
			<meta property='og:url' content='index.html' />
			<meta property='og:type' content='article' />
			<meta property='og:title' content='Secrétariat général du Gouvernement du Bénin' data-dynamic='true' />
			<meta property='og:description' content='Lire et télécharger les comptes rendus des conseils des ministres, décrets, lois promulguées, arrêtés présidentiels et ordonnances de la République du Bénin' data-dynamic='true' />
			<!--meta property='og:image' content='https://sgg.gouv.bj/images/armoiries.jpg?' data-dynamic='true' /-->
			<meta property='og:image:width' content='256' data-dynamic='true'>
			<meta property='og:image:height' content='256' data-dynamic='true'>
			<meta property='og:locale' content='fr_FR' />
			<meta property='og:site_name' content='SAGA {{ dg }}' />
			<meta property='twitter:url' content='index.php' />
			<meta property='twitter:card' content='summary' />
			<meta property='twitter:title' content='Système Automatisé de Gestion des Archives de la {{ dg }}' />
			<meta property='twitter:description' content='Consulté lire et télécharger les archives de la {{ dg }}' />
			<!--meta property='twitter:image' content='../sgg.gouv.bjimages/armoiries.jpg' /-->
        {% endblock %}
        <title>{% block title %}Consultation {{ dg }}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('consultation') }}
			<link rel='icon' href='favicon.ico' />
			<link type='text/css' rel='stylesheet' href="{{ 'assets/Consultation/css/os-stylea139.css?v=0.01' }}" />
			<link type='text/css' rel='stylesheet' href="{{ 'assets/Consultation/css/style9093.css?v=0.02' }}"  />
			<link type='text/css' rel='stylesheet' href="{{ 'assets/Consultation/css/m-stylea139.css?v=0.01' }}"  />
        {% endblock %}

    </head>
    <body>
        {% block body %}
			<div class='container relative'>
            <header id='header' class='fixed w100 mnopadding relative hheight transition'>
                            <div class='h100 flex row space middle relative gpadding'>
					<div class='h100 top-5-in bottom-5-in adapt'>
						<div id='logo' class='h100 logo relative'>
							<a href='index.html' class='h100'>
								{# <img src= {{ asset('build/images/logo.cec7e0f7.png') }} class='h100'> #}
							</a>
						</div>
					</div>
					<div class='h100'>
						<menu id='menu' class='h100 '>
							<ul class='white upper list flex row h100 p adapt middle semibold'>
								{# <li class='right-15-in left-15-in adapt'><a href='comptes-rendus-conseils-ministres/index.html'>Conseil des ministres</a></li> #}
								<li class='right-15-in left-15-in adapt relative'>
									{% if app.user.niveau == "Admin" %}
                                    	<a href='{{path('app_postes_index')}}'>Tableau de bord</a>
									{% else %}
										<a href='{{path('app_documents_index')}}'>Tableau de bord</a>
									{% endif %}
                                    {# <div class='absolute left transition hoverflow'>
                                        <ul class='top-5-in bottom-5-in adapt'>
                                            <li><a href='documentheque/lois/index.html' class='adapt left-15-in right-15-in top-5-in bottom-5-in nowrap'>Lois promulguées</a></li>
                                            <li><a href='documentheque/decrets/index.html' class='adapt left-15-in right-15-in top-5-in bottom-5-in nowrap'>Décrets</a></li>
                                            <li><a href='documentheque/ordonnances/index.html' class='adapt left-15-in right-15-in top-5-in bottom-5-in nowrap'>Ordonnances</a></li>
                                            <li><a href='documentheque/arretes/index.html' class='adapt left-15-in right-15-in top-5-in bottom-5-in nowrap'>Arrêtés présidentiels</a></li>
                                            <li><a href='documentheque/accords/index.html' class='adapt left-15-in right-15-in top-5-in bottom-5-in nowrap'>Accords</a></li>
                                            <li><a href='documentheque/decisions/index.html' class='adapt left-15-in right-15-in top-5-in bottom-5-in nowrap'>Décisions</a></li>
                                        </ul>
                                    </div> #}
                                </li>
								 
								<li class='right-15-in left-15-in adapt relative'>
                                    <a href={{ path('logout') }}>  <span > Déconnexion</span></a>
                                    {# <div class='absolute left transition hoverflow'>
                                        <ul class='top-5-in bottom-5-in adapt'>
                                            <li><a href='presentation/attributions/index.html' class='adapt left-15-in right-15-in top-5-in bottom-5-in nowrap'>Attributions</a></li>
                                            <li><a href='presentation/organisation/index.html' class='adapt left-15-in right-15-in top-5-in bottom-5-in nowrap'>Organisation</a></li>
                                        </ul>
                                    </div> #}
                                </li>
							 </ul>
						</menu>
					</div>
					<div class='h100 absolute right top flex row '>
                        						<span id='btnsearch' class='h100 bg-warning hwidth padding-20 adapt os-click' data-target='#quicksearch'>
							<span class='fill block padding-5 adapt'><i class='fill block icon search filter-black'></i></span>
						</span>
					</div>
                </div>
				<div id='quicksearch' class='absolute right bg-warning hoverflow transition'>
					<div class='flex row middle left-20 right-20 adapt h100'>
						<div class='flex row middle hright-in'>
							<input type='search' class='noborder nobg noradius padding-10 adapt h3 regular os-search' data-action='/?keywords=:keywords' placeholder='Recherche rapide'>
							<span class='icon small arrow-right filter-black right'></span>
						</div>
					</div>
				</div>
                        </header>
                        			<div style=" height: 0vw; min-height: 47px;" >
				{# <figure class='relative fill absolute'><img src='images/backgroundad05.jpg?v=001' class='cover'></figure> #}
				<div class='fill absolute mask'></div>
				{# <div class='absolute left bottom w100'>
					<div class='flex row space middle gpadding mblock' id='slider'>
						<div class='half h100 mw100'>					 #}
	{# <div class='slide-box fill' tabindex='1'>
		<div class='slide-container nohover fill hoverflow'>
			<div class='slides fill'>
							<div class='slide fill active'>
					<h1 class='title adapt white semibold'><a href='cm/2022-08-03/index.html'>Compte rendu du Conseil des Ministres du 03 août 2022</a></h1>
					<div class='upper extrabold warning top-15 adapt flex row middle'>
						<i class='separator right-20 adapt mhide'></i>
                        						<a href='cm/2022-08-03/index.html' class='right-30 adapt letter-spacing'>Lire</a>
                        						<a href='cm/2022-08-03/compte-rendu-conseil-ministres-aout-2022.pdf_%3b' class=' letter-spacing' download>Télécharger</a>
					</div>
				</div>
							<div class='slide fill '>
					<h1 class='title adapt white semibold'><a href='cm/2022-07-27/index.html'>Compte rendu du Conseil des Ministres du 27 juil. 2022</a></h1>
					<div class='upper extrabold warning top-15 adapt flex row middle'>
						<i class='separator right-20 adapt mhide'></i>
                        						<a href='cm/2022-07-27/index.html' class='right-30 adapt letter-spacing'>Lire</a>
                        						<a href='cm/2022-07-27/compte-rendu-conseil-ministres-juil.-2022.pdf_%3b' class=' letter-spacing' download>Télécharger</a>
					</div>
				</div>
							<div class='slide fill '>
					<h1 class='title adapt white semibold'><a href='cm/2022-07-20/index.html'>Compte rendu du Conseil des Ministres du 20 juil. 2022</a></h1>
					<div class='upper extrabold warning top-15 adapt flex row middle'>
						<i class='separator right-20 adapt mhide'></i>
                        						<a href='cm/2022-07-20/index.html' class='right-30 adapt letter-spacing'>Lire</a>
                        						<a href='cm/2022-07-20/compte-rendu-conseil-ministres-juil.-2022.pdf_%3b' class=' letter-spacing' download>Télécharger</a>
					</div>
				</div>
							<div class='slide fill '>
					<h1 class='title adapt white semibold'><a href='cm/2022-07-13/index.html'>Compte rendu du Conseil des Ministres du 13 juil. 2022</a></h1>
					<div class='upper extrabold warning top-15 adapt flex row middle'>
						<i class='separator right-20 adapt mhide'></i>
                        						<a href='cm/2022-07-13/index.html' class='right-30 adapt letter-spacing'>Lire</a>
                        						<a href='cm/2022-07-13/compte-rendu-conseil-ministres-juil.-2022.pdf_%3b' class=' letter-spacing' download>Télécharger</a>
					</div>
				</div>
						</div>
		</div>
	</div> #}
{# </div>
<div class='flex row right'>
	<span class='slide-prev border icon right-15 padding-10 adapt disable' data-target='#slider'><i class='fill block icon arrow-left filter-white'></i></span>
	<span class='slide-next border icon padding-10 adapt' data-target='#slider'><i class='fill block icon arrow-right filter-white'></i></span>
</div> #}
					</div>
					<div class='' >
						<form class='top-40 bottom-20-in top-20-in adapt gpadding relative' id='searchbox' action = "{{path('Accueil' )}}" method = "post">
							<h2 class='upper warning adapt bottom-15'>Rechercher un document</h2>
							<div class='flex row space bottom mblock'>
								<div class='flex flex-1 row mblock las upper white p adapt'>
									<div class='right-30 bottom-20 adapt mw100 relative'>
										<label>Type de documents :</label>
										<input id='select-type' type='text' placeholder='Tous les documents' class='os-click p adapt' data-target='#typeBox' value='' readonly>
                                        <div class='hoverflow absolute w100 black' id='typeBox'>
                                            <ul class='list'>
												<li class='pointer' data-value='ALL'>Tous les documents</li>
												{% for type in types %}
													<li class='pointer' data-value='{{type.Code}}'>{{type.Libelle}}</li>
												{% endfor %}
                                            </ul>
                                        </div>
                                        <input type='hidden' id='type' name='type' value='ALL'>
									</div>

                                    <div class='flex row space mw100'>

                                        <div class='right-30  adapt mw100'>
                                            <label>Du</label>
                                            <input type='date' name='begin' placeholder='Jour / Mois / Année' class='p adapt' value=''>
                                        </div>
                                        <div class='right-30 bottom-20 adapt mw100'>
                                            <label>Au :</label>
                                            <input type='date' name='end' placeholder='Jour / Mois / Année' class='p adapt' value=''>
                                        </div>
                                    </div>
 
                                    <div class='right-30  adapt mw100' style="margin-top : 5px">
                                        <label>Mots clés :</label>
                                        <input type='text' name='keywords' value='' placeholder='Saisissez des mots clés'>
                                    </div> 
								</div>
								<div>
									<div class='bottom-20 adapt mw100'>
										<input type='submit' value='Rechercher' class='btn warning upper' name ="submit">
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
                        <div class='content mbox'>
			<div class='top-40 bottom-20 adapt'>
	{# <div class='gpadding unes relative bottom-40 adapt'>
		<figure class='absolute h100 left top'>
			<img src='images/background4.jpg' class='cover transition'>
			<span class='absolute fill bg-success trans'></span>
		</figure>
		<h2 class='h4 bottom-20 adapt letter-spacing upper gray alt text-right '>
            <i class='iblock icon middle small bg-success right-40 adapt'></i>
            Les lois à la une
        </h2>
		<div class='flex row space mblock top-40 adapt relative'>
			<div class='half-20 adapt bg-white une mw100 '>
				<figure class='w100 relative'><img src='images/benin.jpg' class='cover'></figure>
				<div class='padding-30 adapt'>
					<div class='bottom-20 adapt p'>
						<b class='right-30 adapt success'>07.11.2019</b>
						<span class='upper gray alt'>Loi</span>
					</div>
					<h3 class='adapt bottom-10 adapt'><a href='doc/loi-2019-40/index.html'>Loi n° 2019-40 du 07 novembre 2019</a></h3>
					<p class='black adapt bottom-20 adapt light'>portant révision de la loi numéro 90-32 du 11 décembre 1990 portant Constitution de la République du Bénin.</p>
					<div>
						<span data-target='/doc/loi-2019-40/read' class='p adapt black alt upper bottom-20 right-30 os-read pointer'>Lire la loi</span>
						<a href='doc/loi-2019-40/loi-2019-40.pdf_%3b' class='p adapt success bottom-20 upper' target='_blank' download>Télécharger</a>
					</div>
				</div>
			</div>
			<div class='half-20 adapt bg-white une mw100 '>
				<figure class='w100 relative'><img src='images/background.jpg' class='cover'></figure>
				<div class='padding-30 adapt'>
					<div class='bottom-20 adapt p'>
						<b class='right-30 adapt success'>25.11.2019</b>
						<span class='upper gray alt'>Loi</span>
					</div>
					<h3 class='adapt bottom-10 adapt'><a href='doc/loi-2019-45/index.html'>Loi N° 2019-45</a></h3>
					<p class='black adapt bottom-20 adapt light'>portant statut de l'opposition en République du Bénin.</p>
					<div>
						<span data-target='/doc/loi-2019-45/read' class='p adapt black alt upper bottom-20 right-30 os-read pointer'>Lire la loi</span>
						<a href='doc/loi-2019-45/loi-2019-45.pdf_%3b' class='p adapt success bottom-20 upper' target='_blank' download>Télécharger</a>
					</div>
				</div>
			</div>
		</div>
	</div> #}
{# 	
	<div class='gpadding unes relative adapt error'>
		<figure class='absolute h100 right top'>
			<img src='images/background.jpg' class='cover transition'>
			<span class='absolute fill bg-error trans'></span>
		</figure>
		<h2 class='h4 bottom-20 adapt letter-spacing upper gray alt text-left '>
            <i class='iblock icon middle small bg-error right-40 adapt'></i>
            Les plus téléchargées
        </h2>
		<div class='flex row space mblock top-40 adapt relative black'>
			<div class='half-20 adapt bg-white une mw100 '>
				<figure class='w100 relative'><img src='images/background3.jpg' class='cover'></figure>
				<div class='padding-30 adapt'>
					<div class='bottom-20 adapt p'>
						<b class='right-30 adapt error'>15.11.2019</b>
						<span class='upper gray alt'>Loi</span>
					</div>
					<h3 class='adapt bottom-10 adapt'><a href='doc/loi-2019-41/index.html'>Loi N° 2019-41</a></h3>
					<p class='black adapt bottom-20 adapt light'>modifiant et complétant la loi n° 2018-23 du 17 septembre 2018 portant charte des partis politiques en République du Bénin.</p>
					<div>
						<span data-target='/doc/loi-2019-41/read' class='p adapt black alt upper bottom-20 right-30 os-read pointer'>Lire la loi</span>
						<a href='doc/loi-2019-41/loi-2019-41.pdf_%3b' class='p adapt success bottom-20 upper' target='_blank' download>Télécharger</a>
					</div>
				</div>
			</div>
			<div class='half-20 adapt bg-white une mw100 '>
				<figure class='w100 relative'><img src='images/background3.jpg' class='cover'></figure>
				<div class='padding-30 adapt'>
					<div class='bottom-20 adapt p'>
						<b class='right-30 adapt error'>15.11.2019</b>
						<span class='upper gray alt'>Loi</span>
					</div>
					<h3 class='adapt bottom-10 adapt'><a href='doc/loi-2019-43/index.html'>Loi N° 2019-43</a></h3>
					<p class='black adapt bottom-20 adapt light'>portant code électoral en république du Bénin</p>
					<div>
						<span data-target='./doc/loi-2019-43/read' class='p adapt gray alt upper bottom-20 right-30 os-read pointer'>Lire la loi</span>
						<a href='doc/loi-2019-43/loi-2019-43.pdf_%3b' class='p adapt success bottom-20 upper' target='_blank' download>Télécharger</a>
					</div>
				</div>
			</div>
		</div>
	</div> #}
	
	<div class='docs hright right-40-in gleft-in top-40 bottom-40 top-40-in bottom-40-in relative adapt bg-white adapt success'>
		<div class='absolute h100 left top padding-10 adapt bg-success alt mhide'></div>
		<div class='flex row middle space'>
			<div class='relative'>
				{# <div class='grid laws'>
					<i></i>
					<i>L</i>
					<i>O</i>
					<i class='sep'></i>
					<i>I</i>
					<i>S</i>
				</div> #}
			</div>
			<h2 class='h4 bottom-20 adapt letter-spacing upper gray alt text-right'>
				<i class='iblock icon middle small bg-success alt right-40 adapt'></i>
				Les documents les plus récents
			</h2>
		</div>
		<div class='top-40 adapt relative black'>
		{% for document in documents %}
	<aside class='doc relative '>
    <input type='checkbox' value='doc-33722' name='doc-33722' id='doc-33722' class='hide'>
	{# <label for='doc-33722' class='block absolute top icon small padding-5 adapt bg-white'></label> #}
	<div class='flex row adapt w100 bottom-30'  for='doc-33722'>
		<div class='thumb w60'>
		<style>
		.doc .thumb { min-width: 11%; }
		</style>
			<figure class='h100'>
				 <div class='h100 semi relative center bg-gray alt'>
					<i class='fill absolute top left bg-black trans'></i>
					<i class='fill relative flex col center middle'><i class=' white  '>{{document.TypeDocument.Code}}</i></i>
					<i class='flag absolute bottom flex flex-1 row half block-center'><i></i><i></i><i></i></i>
				</div>
				<div class='h100 semi flex col middle bg-gray'>
					<i class='fill relative flex col center middle'><i class='num black alt'>{{document.DateArrivee ? document.DateArrivee|date('d-m-Y') : ''}}</i></i>
				</div>  
			</figure>
		</div>
		<div class='flex row bottom  bottom-15-in adapt'>
			<div class='infos light adapt nowrap left-20-in right-20-in p'>
				<span class='block semibold bottom-15 adapt'>Publié le {{document.DocumentAt ? document.DocumentAt|date('d-m-Y') : '' }}</span>
				{# <span class='block'><b class='semibold'>{{document.DocumentAt ? document.DocumentAt|date('Y-m-d') : '' }}</b></span> 
				<span class='block upper'><b class='semibold'>47</b> Lectures</span>
				<span class='block upper'><b class='semibold'>189</b> Téléchargements</span>#}
			</div>
		</div>
		<div class='flex row bottom right-30 adapt w100'>
		
			<div class='header adapt left-20-in'>

				<h3 class='h4 semibold adapt bottom-5'><a class='os-read right-30 adapt' read data-target='{{document.DocumentAt ? document.DocumentAt|date('Y/m/d') : ''}}/{{document.Chemin}}'  data-keywords="&quot;&quot;">{{ document.Objet}} <br> <small style="font-size:12px;margin-bottom:13px;color:#038261"> {{ document.TypeDocument.Libelle}}</small>  </a></h3>
				<p class='black adapt bottom-15 adapt light text-justify doc-desc ' data-keywords="&quot;&quot;">{{document.structure}} {{document.NumeroEnregistrement}} {{document.reference}}</p>
				<div class='flex row middle bottom-15-in adapt p'>
					{# <span class='mblock'>Partager sur</span>
                    <a target='_blank' href='https://www.facebook.com/sharer/sharer.php?u=https://sgg.gouv.bj/doc/loi-2022-14/&amp;t=Loi%20N%C2%B0%202022-14' class='icon min cover facebook left-10 adapt'></a>
					<a target='_blank' href='https://twitter.com/intent/tweet?text=Loi%20N%C2%B0%202022-14&amp;url=https://sgg.gouv.bj/doc/loi-2022-14/' class='icon min cover twitter left-10 adapt'></a>
					<a target='_blank' href='https://www.linkedin.com/shareArticle?mini=true&amp;url=https://sgg.gouv.bj/doc/loi-2022-14/&amp;title=Loi%20N%C2%B0%202022-14&amp;summary=portant%20orientation%20agricole,%20s%c3%a9curit%c3%a9%20alimentaire%20et%20nutritionnelle%20en%20R%c3%a9publique%20du%20B%c3%a9nin.' class='icon min cover linkedin left-10 adapt'></a>
					<a href='mailto:?subject=Loi%20N%C2%B0%202022-14&amp;body=Je vous invite à lire ou télécharger ce document :  https://sgg.gouv.bj/doc/loi-2022-14/.' class='icon min cover mail left-10 adapt'></a> #}
				</div>																																																																																																																																																																																																																																																																																																																																																	
			</div>
		</div>
		<div class='flex row bottom'>
			<div class='buttons flex row bottom relative letter-s																																																																				pacing upper bold bottom-15-in adapt gray alt p'>
                <span data-target='{{document.DocumentAt ? document.DocumentAt|date('Y/m/d') : ''}}/{{document.Chemin}}' class='os-read right-30 adapt' read>Lire</span>
                <span data-target='{{document.DocumentAt ? document.DocumentAt|date('Y/m/d') : ''}}/{{document.Chemin}}' class='os-read right-30 adapt' read>Télécharger</span> 
                {# <a href='{{dir}}{{document.Chemin}}_%3b' class='' download>Télécharger</a> #}
			</div>
		</div>
	</div>
    </aside>
	{% endfor %}
	</div>
	</div>
{# 	
	<div class='docs hleft left-40-in gright-in top-40 top-40-in bottom-40-in relative adapt bg-white adapt'>
		<div class='absolute h100 right top padding-10 adapt bg-warning alt mhide'></div>
		<div class='flex row middle space'>
			<h2 class='h4 bottom-20 adapt letter-spacing upper gray alt text-left'>
				<i class='iblock icon middle small bg-warning alt right-40 adapt'></i>
				Les décrets les plus récents
			</h2>
			<div class='relative'>
				<div class='grid decrees'>
					<i>D</i>
					<i>É</i>
					<i>C</i>
					<i>R</i>
					<i>E</i>
					<i>T</i>
					<i>S</i>
					<i class='sep'></i>
				</div>
			</div>
		</div>
		<div class='top-40 adapt relative black'>
			            <aside class='doc relative '>
        	<input type='checkbox' value='doc-33737' name='doc-33737' id='doc-33737' class='hide'>
	<label for='doc-33737' class='block absolute top icon small padding-5 adapt bg-white'></label>
	<div class='flex row adapt w100 bottom-30'  for='doc-33737'>
		<div class='thumb'>
			<figure class='relative h100'>
				<div class='h100 semi relative center bg-gray alt'>
					<i class='fill absolute top left bg-black trans'><img src='images/thumb.png' class='contain filter-white'></i>
					<i class='fill relative flex col center middle'><i class='cat white padding-5 adapt '>decret</i></i>
					<i class='flag absolute bottom flex flex-1 row half block-center'><i></i><i></i><i></i></i>
				</div>
				<div class='h100 semi flex col middle bg-gray'>
					<i class='fill relative flex col center middle'><i class='num black alt'>2022-458</i></i>
				</div>
			</figure>
		</div>
		<div class='flex row bottom  bottom-15-in adapt'>
			<div class='infos light adapt nowrap left-20-in right-20-in p'>
				<span class='block semibold bottom-15 adapt'>Publié le 12.08.2022</span>
				<span class='block'><b class='semibold'>8 Mo</b></span>
				<span class='block upper'><b class='semibold'>7</b> Lectures</span>
				<span class='block upper'><b class='semibold'>135</b> Téléchargements</span>
			</div>
		</div>
		<div class='flex row bottom right-30 adapt w100'>
			<div class='header adapt left-20-in'>
				<h3 class='h4 semibold adapt bottom-5'><a href='doc/decret-2022-458/index.html' class='doc-title ' data-keywords="&quot;&quot;">Décret N° 2022-458 du 27 juil. 2022</a></h3>
				<p class='black adapt bottom-15 adapt light text-justify doc-desc ' data-keywords="&quot;&quot;">portant approbation des statuts du Centre national de Gestion des Réserves de Faune.</p>
				<div class='flex row middle bottom-15-in adapt p'>
					<span class='mblock'>Partager sur</span>
                                        					<a target='_blank' href='https://www.facebook.com/sharer/sharer.php?u=https://sgg.gouv.bj/doc/decret-2022-458/&amp;t=D%C3%A9cret%20N%C2%B0%202022-458' class='icon min cover facebook left-10 adapt'></a>
					<a target='_blank' href='https://twitter.com/intent/tweet?text=D%C3%A9cret%20N%C2%B0%202022-458&amp;url=https://sgg.gouv.bj/doc/decret-2022-458/' class='icon min cover twitter left-10 adapt'></a>
					<a target='_blank' href='https://www.linkedin.com/shareArticle?mini=true&amp;url=https://sgg.gouv.bj/doc/decret-2022-458/&amp;title=D%C3%A9cret%20N%C2%B0%202022-458&amp;summary=portant%20approbation%20des%20statuts%20du%20Centre%20national%20de%20Gestion%20des%20R%c3%a9serves%20de%20Faune.' class='icon min cover linkedin left-10 adapt'></a>
					<a href='mailto:?subject=D%C3%A9cret%20N%C2%B0%202022-458&amp;body=Je vous invite à lire ou télécharger ce document :  https://sgg.gouv.bj/doc/decret-2022-458/.' class='icon min cover mail left-10 adapt'></a>
				</div>
			</div>
		</div>
		<div class='flex row bottom'>
			<div class='buttons flex row bottom relative letter-spacing upper bold bottom-15-in adapt gray alt p'>
                <span data-target='/doc/decret-2022-458/read' class='os-read right-30 adapt'>Lire</span>
                <a href='doc/decret-2022-458/decret-2022-458.pdf_%3b' class='' download>Télécharger</a>
			</div>
		</div>
	</div>
    </aside>

			            <aside class='doc relative '>
        	<input type='checkbox' value='doc-33736' name='doc-33736' id='doc-33736' class='hide'>
	<label for='doc-33736' class='block absolute top icon small padding-5 adapt bg-white'></label>
	<div class='flex row adapt w100 bottom-30'  for='doc-33736'>
		<div class='thumb'>
			<figure class='relative h100'>
				<div class='h100 semi relative center bg-gray alt'>
					<i class='fill absolute top left bg-black trans'><img src='images/thumb.png' class='contain filter-white'></i>
					<i class='fill relative flex col center middle'><i class='cat white padding-5 adapt '>decret</i></i>
					<i class='flag absolute bottom flex flex-1 row half block-center'><i></i><i></i><i></i></i>
				</div>
				<div class='h100 semi flex col middle bg-gray'>
					<i class='fill relative flex col center middle'><i class='num black alt'>2022-457</i></i>
				</div>
			</figure>
		</div>
		<div class='flex row bottom  bottom-15-in adapt'>
			<div class='infos light adapt nowrap left-20-in right-20-in p'>
				<span class='block semibold bottom-15 adapt'>Publié le 12.08.2022</span>
				<span class='block'><b class='semibold'>1 Mo</b></span>
				<span class='block upper'><b class='semibold'>36</b> Lectures</span>
				<span class='block upper'><b class='semibold'>158</b> Téléchargements</span>
			</div>
		</div>
		<div class='flex row bottom right-30 adapt w100'>
			<div class='header adapt left-20-in'>
				<h3 class='h4 semibold adapt bottom-5'><a href='doc/decret-2022-457/index.html' class='doc-title ' data-keywords="&quot;&quot;">Décret N° 2022-457 du 27 juil. 2022</a></h3>
				<p class='black adapt bottom-15 adapt light text-justify doc-desc ' data-keywords="&quot;&quot;">portant attributions, organisation et fonctionnement de la Direction générale des Douanes.</p>
				<div class='flex row middle bottom-15-in adapt p'>
					<span class='mblock'>Partager sur</span>
                                        					<a target='_blank' href='https://www.facebook.com/sharer/sharer.php?u=https://sgg.gouv.bj/doc/decret-2022-457/&amp;t=D%C3%A9cret%20N%C2%B0%202022-457' class='icon min cover facebook left-10 adapt'></a>
					<a target='_blank' href='https://twitter.com/intent/tweet?text=D%C3%A9cret%20N%C2%B0%202022-457&amp;url=https://sgg.gouv.bj/doc/decret-2022-457/' class='icon min cover twitter left-10 adapt'></a>
					<a target='_blank' href='https://www.linkedin.com/shareArticle?mini=true&amp;url=https://sgg.gouv.bj/doc/decret-2022-457/&amp;title=D%C3%A9cret%20N%C2%B0%202022-457&amp;summary=portant%20attributions,%20organisation%20et%20fonctionnement%20de%20la%20Direction%20g%c3%a9n%c3%a9rale%20des%20Douanes.' class='icon min cover linkedin left-10 adapt'></a>
					<a href='mailto:?subject=D%C3%A9cret%20N%C2%B0%202022-457&amp;body=Je vous invite à lire ou télécharger ce document :  https://sgg.gouv.bj/doc/decret-2022-457/.' class='icon min cover mail left-10 adapt'></a>
				</div>
			</div>
		</div>
		<div class='flex row bottom'>
			<div class='buttons flex row bottom relative letter-spacing upper bold bottom-15-in adapt gray alt p'>
                <span data-target='/doc/decret-2022-457/read' class='os-read right-30 adapt'>Lire</span>
                <a href='doc/decret-2022-457/decret-2022-457.pdf_%3b' class='' download>Télécharger</a>
			</div>
		</div>
	</div>
    </aside>

			            <aside class='doc relative '>
        	<input type='checkbox' value='doc-33735' name='doc-33735' id='doc-33735' class='hide'>
	<label for='doc-33735' class='block absolute top icon small padding-5 adapt bg-white'></label>
	<div class='flex row adapt w100 bottom-30'  for='doc-33735'>
		<div class='thumb'>
			<figure class='relative h100'>
				<div class='h100 semi relative center bg-gray alt'>
					<i class='fill absolute top left bg-black trans'><img src='images/thumb.png' class='contain filter-white'></i>
					<i class='fill relative flex col center middle'><i class='cat white padding-5 adapt '>decret</i></i>
					<i class='flag absolute bottom flex flex-1 row half block-center'><i></i><i></i><i></i></i>
				</div>
				<div class='h100 semi flex col middle bg-gray'>
					<i class='fill relative flex col center middle'><i class='num black alt'>2022-452</i></i>
				</div>
			</figure>
		</div>
		<div class='flex row bottom  bottom-15-in adapt'>
			<div class='infos light adapt nowrap left-20-in right-20-in p'>
				<span class='block semibold bottom-15 adapt'>Publié le 12.08.2022</span>
				<span class='block'><b class='semibold'>268 Ko</b></span>
				<span class='block upper'><b class='semibold'>27</b> Lectures</span>
				<span class='block upper'><b class='semibold'>126</b> Téléchargements</span>
			</div>
		</div>
		<div class='flex row bottom right-30 adapt w100'>
			<div class='header adapt left-20-in'>
				<h3 class='h4 semibold adapt bottom-5'><a href='doc/decret-2022-452/index.html' class='doc-title ' data-keywords="&quot;&quot;">Décret N° 2022-452 du 27 juil. 2022</a></h3>
				<p class='black adapt bottom-15 adapt light text-justify doc-desc ' data-keywords="&quot;&quot;">portant approbation de la Nomenclature d&#039;Activités et de Produits du Bénin.</p>
				<div class='flex row middle bottom-15-in adapt p'>
					<span class='mblock'>Partager sur</span>
                                        					<a target='_blank' href='https://www.facebook.com/sharer/sharer.php?u=https://sgg.gouv.bj/doc/decret-2022-452/&amp;t=D%C3%A9cret%20N%C2%B0%202022-452' class='icon min cover facebook left-10 adapt'></a>
					<a target='_blank' href='https://twitter.com/intent/tweet?text=D%C3%A9cret%20N%C2%B0%202022-452&amp;url=https://sgg.gouv.bj/doc/decret-2022-452/' class='icon min cover twitter left-10 adapt'></a>
					<a target='_blank' href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://sgg.gouv.bj/doc/decret-2022-452/&amp;title=D%C3%A9cret%20N%C2%B0%202022-452&amp;summary=portant%20approbation%20de%20la%20Nomenclature%20d'Activit%c3%a9s%20et%20de%20Produits%20du%20B%c3%a9nin." class='icon min cover linkedin left-10 adapt'></a>
					<a href='mailto:?subject=D%C3%A9cret%20N%C2%B0%202022-452&amp;body=Je vous invite à lire ou télécharger ce document :  https://sgg.gouv.bj/doc/decret-2022-452/.' class='icon min cover mail left-10 adapt'></a>
				</div>
			</div>
		</div>
		<div class='flex row bottom'>
			<div class='buttons flex row bottom relative letter-spacing upper bold bottom-15-in adapt gray alt p'>
                <span data-target='/doc/decret-2022-452/read' class='os-read right-30 adapt'>Lire</span>
                <a href='doc/decret-2022-452/decret-2022-452.pdf_%3b' class='' download>Télécharger</a>
			</div>
		</div>
	</div>
    </aside>

			            <aside class='doc relative '>
        	<input type='checkbox' value='doc-33734' name='doc-33734' id='doc-33734' class='hide'>
	<label for='doc-33734' class='block absolute top icon small padding-5 adapt bg-white'></label>
	<div class='flex row adapt w100 bottom-30'  for='doc-33734'>
		<div class='thumb'>
			<figure class='relative h100'>
				<div class='h100 semi relative center bg-gray alt'>
					<i class='fill absolute top left bg-black trans'><img src='images/thumb.png' class='contain filter-white'></i>
					<i class='fill relative flex col center middle'><i class='cat white padding-5 adapt '>decret</i></i>
					<i class='flag absolute bottom flex flex-1 row half block-center'><i></i><i></i><i></i></i>
				</div>
				<div class='h100 semi flex col middle bg-gray'>
					<i class='fill relative flex col center middle'><i class='num black alt'>2022-451</i></i>
				</div>
			</figure>
		</div>
		<div class='flex row bottom  bottom-15-in adapt'>
			<div class='infos light adapt nowrap left-20-in right-20-in p'>
				<span class='block semibold bottom-15 adapt'>Publié le 12.08.2022</span>
				<span class='block'><b class='semibold'>913 Ko</b></span>
				<span class='block upper'><b class='semibold'>43</b> Lectures</span>
				<span class='block upper'><b class='semibold'>203</b> Téléchargements</span>
			</div>
		</div>
		<div class='flex row bottom right-30 adapt w100'>
			<div class='header adapt left-20-in'>
				<h3 class='h4 semibold adapt bottom-5'><a href='doc/decret-2022-451/index.html' class='doc-title ' data-keywords="&quot;&quot;">Décret N° 2022-451 du 27 juil. 2022</a></h3>
				<p class='black adapt bottom-15 adapt light text-justify doc-desc ' data-keywords="&quot;&quot;">portant fusion par absorption du Laboratoire central de Contrôle de la Sécurité sanitaire des aliments par l&#039;Agence béninoise de Sécurité sanitaire des aliments.</p>
				<div class='flex row middle bottom-15-in adapt p'>
					<span class='mblock'>Partager sur</span>
                                        					<a target='_blank' href='https://www.facebook.com/sharer/sharer.php?u=https://sgg.gouv.bj/doc/decret-2022-451/&amp;t=D%C3%A9cret%20N%C2%B0%202022-451' class='icon min cover facebook left-10 adapt'></a>
					<a target='_blank' href='https://twitter.com/intent/tweet?text=D%C3%A9cret%20N%C2%B0%202022-451&amp;url=https://sgg.gouv.bj/doc/decret-2022-451/' class='icon min cover twitter left-10 adapt'></a>
					<a target='_blank' href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://sgg.gouv.bj/doc/decret-2022-451/&amp;title=D%C3%A9cret%20N%C2%B0%202022-451&amp;summary=portant%20fusion%20par%20absorption%20du%20Laboratoire%20central%20de%20Contr%c3%b4le%20de%20la%20S%c3%a9curit%c3%a9%20sanitaire%20des%20aliments%20par%20l'Agence%20b%c3%a9ninoise%20de%20S%c3%a9curit%c3%a9%20sanitaire%20des%20aliments." class='icon min cover linkedin left-10 adapt'></a>
					<a href='mailto:?subject=D%C3%A9cret%20N%C2%B0%202022-451&amp;body=Je vous invite à lire ou télécharger ce document :  https://sgg.gouv.bj/doc/decret-2022-451/.' class='icon min cover mail left-10 adapt'></a>
				</div>
			</div>
		</div>
		<div class='flex row bottom'>
			<div class='buttons flex row bottom relative letter-spacing upper bold bottom-15-in adapt gray alt p'>
                <span data-target='/doc/decret-2022-451/read' class='os-read right-30 adapt'>Lire</span>
                <a href='doc/decret-2022-451/decret-2022-451.pdf_%3b' class='' download>Télécharger</a>
			</div>
		</div>
	</div>
    </aside>

										<aside class='doc relative '>
							<input type='checkbox' value='doc-33733' name='doc-33733' id='doc-33733' class='hide'>
					<label for='doc-33733' class='block absolute top icon small padding-5 adapt bg-white'></label>
					<div class='flex row adapt w100 bottom-30'  for='doc-33733'>
						<div class='thumb'>
							<figure class='relative h100'>
								<div class='h100 semi relative center bg-gray alt'>
									<i class='fill absolute top left bg-black trans'><img src='images/thumb.png' class='contain filter-white'></i>
									<i class='fill relative flex col center middle'><i class='cat white padding-5 adapt '>decret</i></i>
									<i class='flag absolute bottom flex flex-1 row half block-center'><i></i><i></i><i></i></i>
								</div>
								<div class='h100 semi flex col middle bg-gray'>
									<i class='fill relative flex col center middle'><i class='num black alt'>2022-447</i></i>
								</div>
							</figure>
						</div>
						<div class='flex row bottom  bottom-15-in adapt'>
							<div class='infos light adapt nowrap left-20-in right-20-in p'>
								<span class='block semibold bottom-15 adapt'>Publié le 12.08.2022</span>
								<span class='block'><b class='semibold'>9 Mo</b></span>
								<span class='block upper'><b class='semibold'>10</b> Lectures</span>
								<span class='block upper'><b class='semibold'>106</b> Téléchargements</span>
							</div>
						</div>
						<div class='flex row bottom right-30 adapt w100'>
							<div class='header adapt left-20-in'>
								<h3 class='h4 semibold adapt bottom-5'><a href='doc/decret-2022-447/index.html' class='doc-title ' data-keywords="&quot;&quot;">Décret N° 2022-447 du 20 juil. 2022</a></h3>
								<p class='black adapt bottom-15 adapt light text-justify doc-desc ' data-keywords="&quot;&quot;">portant modalités de mise en œuvre de l&#039;auto-assurance de l’État pour la couverture des biens culturels.</p>
								<div class='flex row middle bottom-15-in adapt p'>
									<span class='mblock'>Partager sur</span>
																			<a target='_blank' href='https://www.facebook.com/sharer/sharer.php?u=https://sgg.gouv.bj/doc/decret-2022-447/&amp;t=D%C3%A9cret%20N%C2%B0%202022-447' class='icon min cover facebook left-10 adapt'></a>
									<a target='_blank' href='https://twitter.com/intent/tweet?text=D%C3%A9cret%20N%C2%B0%202022-447&amp;url=https://sgg.gouv.bj/doc/decret-2022-447/' class='icon min cover twitter left-10 adapt'></a>
									<a target='_blank' href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://sgg.gouv.bj/doc/decret-2022-447/&amp;title=D%C3%A9cret%20N%C2%B0%202022-447&amp;summary=portant%20modalit%c3%a9s%20de%20mise%20en%20%c5%93uvre%20de%20l'auto-assurance%20de%20l%e2%80%99%c3%89tat%20pour%20la%20couverture%20des%20biens%20culturels." class='icon min cover linkedin left-10 adapt'></a>
									<a href='mailto:?subject=D%C3%A9cret%20N%C2%B0%202022-447&amp;body=Je vous invite à lire ou télécharger ce document :  https://sgg.gouv.bj/doc/decret-2022-447/.' class='icon min cover mail left-10 adapt'></a>
								</div>
							</div>
						</div>
						<div class='flex row bottom'>
							<div class='buttons flex row bottom relative letter-spacing upper bold bottom-15-in adapt gray alt p'>
								<span data-target='/doc/decret-2022-447/read' class='os-read right-30 adapt'>Lire</span>
								<a href='doc/decret-2022-447/decret-2022-447.pdf_%3b' class='' download>Télécharger</a>
							</div>
						</div>
					</div>
					</aside>
						</div>
					</div>
				</div>
            </div>
			<div id="inscription" class='gpadding bg-success'>
				<div class="bg-success flex row top-40-in bottom-40-in adapt ">
					<div class="flex row">
						<div>
							<i class="fa fa-bell fa-3x right-20  top-5 warning"></i>
						</div>
						<div class="">
							<h3 class="adapt upper warning">Restez informé</h3>
							<p class="h4 adapt white light">Recevez chaque semaine en exclusivité le compte rendu du conseil des ministres ainsi que les lois promulguées, les décrets, les ordonnances prises, etc.</p>
						</div>
					</div>
					<div class="flex row middle left-40 half adapt ">
								<form action="https://sgg.gouv.bj/inscription/" method="post" class="w100 radius-20 adapt ">
							<div class="flex row space w100  ">
								<input type="text" id="subscribers_fname" name="subscribers[fname]" maxlength="255" class="bg-success alt top-15-in bottom-15-in left-20-in right-20-in white noborder noradius h4 adapt half-10" placeholder="Votre prénom" title="Votre prénom" />
								<input type="text" id="subscribers_lname" name="subscribers[lname]" maxlength="255" class="bg-success alt top-15-in bottom-15-in left-20-in right-20-in white noborder noradius h4 adapt half-10" placeholder="Votre nom" title="Votre nom" />
							</div>
							<div class="flex row space w100   top-10">
								<input type="email" id="subscribers_email" name="subscribers[email]" required="required" class="bg-success alt top-15-in bottom-15-in left-20-in right-20-in white noborder noradius h4 adapt w100" placeholder="Votre adresse e-mail" title="Votre adresse e-mail" />
								<button class="bg-warning pointer top-15-in bottom-15-in left-20-in left-20 right-20-in text-center noborder noradius adapt" type="submit" value="" title="Soumettre l'inscription"><i class="fa fa-paper-plane fa-2x"></i></button>
							</div>
						<input type="hidden" id="subscribers__token" name="subscribers[_token]" value="2d30.Q0veWgacgpdqKX77BgydvaDZ3Wbdx5u6rh-fAV7hle4.KXqGN3Ko7dM8TwnMcELE6ZeBhTCviv_w31WmeQSDzb4oBL8ibtTgw1IRDQ" /></form>
					</div>
				</div>
            </div> #}
			<footer id='footer' class='w100 bg-black alt'>
				<div class='flex row space mblock mcenter gpadding htop-in hbottom-in adapt'>
					 <h1 style="color: white; font-size:40px; padding-top:15px">SAGA</h1>
					<div class='text-right'>
						<ul class='list flex row middle upper bold white p adapt bottom-15-in bottom-20 mcenter ' style="padding-left:600px">
							<li class=''>
								<a href={{ path('logout') }}>  <span > Déconnexion</span></a>
							</li>
							<li class='left-30 adapt relative'><a href='{{path('app_documents_index')}}'>Tableau de bord</a></li>
							{# <li class='left-30 adapt'><a href='#'>Conseil des ministres</a></li>
							<li class='left-30 adapt'><a href='#'>Informations</a></li>
							<li class='left-30 adapt'><a href='#'>Contact</a></li> #}
						</ul>
						<div class='p adapt white light'>© {{ dg }}République du Bénin le {{ "now"|date('d/m/Y') }}</div>
					</div>
				</div>
				<span class='flag flex row w100 flex-1'><i></i><i></i><i></i></span>
			</footer>
			</div>
	        <div class='popup'><span class='close filter-white'></span></div>
		{% endblock %}
		{% block javascripts %}
            {# encore_entry_link_tags('app') 
			<script src="../kit.fontawesome.com/6451c614e6.js" crossorigin="anonymous"></script> #}
			<script>
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

				ga('create', 'UA-67497405-6', 'auto');
				ga('send', 'pageview');
			</script>
			<script src= "{{'assets/Consultation/js/jquery-3.3.1.min.js'}}"></script>
			<script src= "{{'assets/Consultation/js/os-script5d17.js?v=0.11'}}"></script>
			<script src= "{{'assets/Consultation/js/script5d17.js?v=0.11'}}"></script> 
        {% endblock %}
    </body>
</html>
