<!DOCTYPE html>
<html lang="fr">
    <head>
        {% set numero = 1 %}
        {% block meta %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
            <meta name="keywords" content="SAGA {{ dg }}">
            <meta name="description" content="Section administrateur de SAGA">
            <meta name="author" content="Winner KING Technologie">
        {% endblock %}
        <title>{% block title %}Document{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('dashboard') }}
            <!-- STYLESHEET -->
            <!-- Favicon -->
            <link rel="shortcut icon" type="image/x-icon"sizes="16x16" href="{{ asset('/build/images/{{logo}}') }}">
            <link rel="stylesheet" href="{{ asset('assets/Dashboard/vendor/select2.min.css') }}"></link>
            <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css"></link>
            
            {# <!-- fonts -->
           
            <link rel="stylesheet" href="{{ 'assets/Dashboard/fonts/icons/main/mainfont/style.css' }}">
            <link rel="stylesheet" href="{{ 'assets/Dashboard/fonts/icons/font-awesome/css/font-awesome.min.css' }}">

            <!-- Vendor --> 
            <link rel="stylesheet" href="{{ 'assets/Dashboard/vendor/bootstrap/v3/bootstrap.min.css' }}">
            <link rel="stylesheet" href="{{ 'assets/Dashboard/vendor/bootstrap/v4/bootstrap-grid.css' }}">  #}

            
            
            <!-- Custom -->
            {# <link rel="stylesheet" href="{{ 'assets/Dashboard/css/style.css' }}"> #}
            
            <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
            <[endif]-->
            <style> 
                .btn-circle {
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    padding: 6px 0;
                    font-size: 12px;
                    line-height: 1.428571429;
                    border-radius: 15px;
                } 
                .uppercase{
                    text-transform: uppercase;
                }
            </style>
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {% block header %}
                <!-- HEADER -->
                <header>
                    <div class="header js-header js-dropdown">
                        <div class="container">
                            <div class="header__logo">
                                <h1 >
                                     <img src={{ asset('/build/images/{{logo}}') }} alt="logo" width="70px" height="70px">
                                </h1>
                                {# <nav class="dropdown dropdown--design-01" data-dropdown-list="logo">
                                    <ul class="dropdown__catalog">
                                        <li><a href="index.html">Home Page</a></li>
                                        <li><a href="single-topic.html">Single Topic Page</a></li>
                                        <li><a href="simple-signup.html">Sign up Page</a></li>
                                        <li><a href="create-topic.html">Create Topic Page</a></li>
                                    </ul>
                                </nav> #}
                            </div>
                            <div class="header__search"> 
                                <div class="header__logo-btn" data-dropdown-btn="logo" style="text-align: center;">
                                   Système Automatisé de Gestion d'Archives de la {{ dg }}</i>
                                </div>
                                {# <form action="#">
                                    <label>
                                        <i class="icon-Search js-header-search-btn-open"></i>
                                        <input type="search" placeholder="Search all forums" class="form-control">
                                    </label>
                                </form>
                                <div class="header__search-close js-header-search-btn-close"><i class="icon-Cancel"></i></div>
                                <div class="header__search-btn" data-dropdown-btn="search">
                                    Topics<i class="icon-Arrow_Below"></i>
                                </div>
                                <div class="dropdown dropdown--design-01" data-dropdown-list="search">
                                    <ul>
                                        <li>
                                            <label>
                                                <label class="custom-checkbox">
                                                    <input type="checkbox" checked="checked">
                                                    <i></i>
                                                </label>Search Titles Only
                                            </label>

                                        </li>
                                        <li>
                                            <label>
                                                <label class="custom-checkbox">
                                                    <input type="checkbox">
                                                    <i></i>
                                                </label>Show Results as Posts
                                            </label>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-Advanced_Search"></i>Advanced Search
                                            </a>
                                        </li>
                                    </ul>
                                </div> #}
                            </div>
                            <div class="header__menu">
                                {# <div class="header__menu-btn" data-dropdown-btn="menu">
                                    Latest Topics<i class="icon-Menu_Icon"></i>
                                </div>
                                <nav class="dropdown dropdown--design-01" data-dropdown-list="menu">
                                    <div>
                                        <ul class="dropdown__catalog row">
                                            <li class="col-xs-6"><a href="#">New</a></li>
                                            <li class="col-xs-6"><a href="#">Unread</a></li>
                                            <li class="col-xs-6"><a href="#">Groups</a></li>
                                            <li class="col-xs-6"><a href="#">Users</a></li>
                                            <li class="col-xs-6"><a href="#">Tags</a></li>
                                            <li class="col-xs-6"><a href="#">Shortcuts</a></li>
                                        </ul>
                                    </div>
                                    <div>
                                        <h3>Categories</h3>
                                        <ul class="dropdown__catalog row">
                                            <li class="col-xs-6"><a href="#" class="category"><i class="bg-f9bc64"></i>Hobbies</a></li>
                                            <li class="col-xs-6"><a href="#" class="category"><i class="bg-348aa7"></i>Social</a></li>
                                            <li class="col-xs-6"><a href="#" class="category"><i class="bg-4436f8"></i>Video</a></li>
                                            <li class="col-xs-6"><a href="#" class="category"><i class="bg-5dd39e"></i>Random</a></li>
                                            <li class="col-xs-6"><a href="#" class="category"><i class="bg-ff755a"></i>Arts</a></li>
                                            <li class="col-xs-6"><a href="#" class="category"><i class="bg-bce784"></i>Tech</a></li>
                                            <li class="col-xs-6"><a href="#" class="category"><i class="bg-83253f"></i>Gaming</a></li>
                                            <li class="col-xs-6"><a href="#" class="category"><i class="bg-c49bbb"></i>Science</a></li>
                                            <li class="col-xs-6"><a href="#" class="category"><i class="bg-3ebafa"></i>Exchange</a></li>
                                            <li class="col-xs-6"><a href="#" class="category"><i class="bg-c6b38e"></i>Pets</a></li>
                                            <li class="col-xs-6"><a href="#" class="category"><i class="bg-a7cdbd"></i>Entertainment</a></li>
                                            <li class="col-xs-6"><a href="#" class="category"><i class="bg-525252"></i>Education</a></li>
                                            <li class="col-xs-6"><a href="#" class="category"><i class="bg-777da7"></i>Q&amp;As</a></li>
                                            <li class="col-xs-6"><a href="#" class="category"><i class="bg-368f8b"></i>Politics</a></li>
                                        </ul>
                                    </div>
                                    <div>
                                        <ul class="dropdown__catalog row">
                                            <li class="col-xs-6"><a href="#">Support</a></li>
                                            <li class="col-xs-6"><a href="#">Forum Rules</a></li>
                                            <li class="col-xs-6"><a href="#">Blog</a></li>
                                            <li class="col-xs-6"><a href="#">About</a></li>
                                        </ul>
                                    </div>
                                </nav> #}
                            </div>
                            {# <div class="header__notification">
                                <div class="header__notification-btn" data-dropdown-btn="notification">
                                    <i class="icon-Notification"></i>
                                    <span>6</span>
                                </div>
                                <div class="dropdown dropdown--design-01" data-dropdown-list="notification">
                                    <div>
                                        <a href="#">
                                            <i class="icon-Favorite_Topic"></i>
                                            <p>Roswell . 16 feb, 17<span>Which movie have you watched recently?</span></p>
                                        </a>
                                        <a href="#">
                                            <i class="icon-Reply_Empty"></i>
                                            <p>Callis . 18 feb, 17<span>I got an amzon thingie!</span></p>
                                        </a>
                                        <a href="#">
                                            <i class="icon-Badge"></i>
                                            <p>Earned Badge . 19 feb, 17<span><img src="fonts/icons/badges/Lets_talk.svg" alt="Lets Talk">Lets Talk</span></p>
                                        </a>
                                        <a href="#">
                                            <i class="icon-Badge"></i>
                                            <p>Earned Badge . 21 feb, 17<span><img src="fonts/icons/badges/Intermediate.svg" alt="Intermediate">Intermediate</span></p>
                                        </a>
                                        <a href="#">
                                            <i class="icon-Share_Topic"></i>
                                            <p>Charlie . 22 feb, 17<span>Need Video file of that cat.</span></p>
                                        </a>
                                        <a href="#">
                                            <i class="icon-Pencil"></i>
                                            <p>Greentea . 22 feb, 17<span>New Facebook like and share button.</span></p>
                                        </a>
                                        <span><a href="#">view older notifications...</a></span>
                                    </div>
                                </div>
                            </div> #}
                         
                                <div class="header__user-btn">
                                <img src={{ asset('/build/images/avatar.d5137e48.png') }} > 
                            
                                </div>

                                <div style=" margin-right: 28px; ">
                                    <span  > <b>{{ app.user.nom }}</b>  </span>  <br>
                                     <div style=" margin-bottom: -1px;margin-top: -8px; font-size:13px"> <a href={{ path('changePassword') }} >   Modifier profil </span>  </a>    </div> 
                                     <div  style=" margin-bottom: -1px;margin-top: -8px;font-size:13px "> <a href={{ path('logout') }} >  Se deconnecter </span> </a>   </div>

                                </div>
                          
                        </div>
                        <div class="header__offset-btn">
                      
                        </div>
                        
                    </div>
                </header>

            {% endblock %}
            {% block main %}
                <!-- MAIN -->
                <main>
                    <div class="container ">
                        <div class="nav">
                            <div class="nav__categories js-dropdown">
                                <div class="nav__select">
                                    <div class="btn-select" > <a href="{{path("Accueil")}}"><b style="margin-left:">Accueil</b></a> </div>
                                    {# <nav class="dropdown dropdown--design-01" data-dropdown-list="categories">
                                        <ul class="dropdown__catalog row">
                                            <li class="col-xs-6"><a href="#" class="category"><i class="bg-f9bc64"></i>Hobbies</a></li>
                                            <li class="col-xs-6"><a href="#" class="category"><i class="bg-348aa7"></i>Social</a></li>
                                            <li class="col-xs-6"><a href="#" class="category"><i class="bg-4436f8"></i>Video</a></li>
                                            <li class="col-xs-6"><a href="#" class="category"><i class="bg-5dd39e"></i>Random</a></li>
                                            <li class="col-xs-6"><a href="#" class="category"><i class="bg-ff755a"></i>Arts</a></li>
                                            <li class="col-xs-6"><a href="#" class="category"><i class="bg-bce784"></i>Tech</a></li>
                                            <li class="col-xs-6"><a href="#" class="category"><i class="bg-83253f"></i>Gaming</a></li>
                                            <li class="col-xs-6"><a href="#" class="category"><i class="bg-c49bbb"></i>Science</a></li>
                                            <li class="col-xs-6"><a href="#" class="category"><i class="bg-3ebafa"></i>Exchange</a></li>
                                            <li class="col-xs-6"><a href="#" class="category"><i class="bg-c6b38e"></i>Pets</a></li>
                                            <li class="col-xs-6"><a href="#" class="category"><i class="bg-a7cdbd"></i>Entertainment</a></li>
                                            <li class="col-xs-6"><a href="#" class="category"><i class="bg-525252"></i>Education</a></li>
                                            <li class="col-xs-6"><a href="#" class="category"><i class="bg-777da7"></i>Q&amp;As</a></li>
                                            <li class="col-xs-6"><a href="#" class="category"><i class="bg-368f8b"></i>Politics</a></li>
                                        </ul>
                                    </nav> #}
                                </div>


                        {% for role in app.user.roles %}
                            {% if role == "ROLE_ADMIN" %}
                                  <div class="nav__select">
                                    <div class="btn-select" data-dropdown-btn="categories">  <b style="margin-left:">Organisation</b> </div>
                                    <nav class="dropdown dropdown--design-01" data-dropdown-list="categories">
                                        <ul class="dropdown__catalog row">
                                            <li class="col-xs-12"><a href="{{ path('app_directions_index')}}" class="category"><i class="bg-5dd39e"></i>Directions</a></li> 
                                            <li class="col-xs-12"><a href="{{ path('app_services_index')}}" class="category"><i class="bg-5dd39e"></i>Services</a></li>  
                                            <li class="col-xs-12"><a href="{{ path('app_divisions_index')}}" class="category"><i class="bg-5dd39e"></i>Divisions</a></li>  
                                            <li class="col-xs-12"><a href="{{ path('app_users_index')}}" class="category"><i class="bg-5dd39e"></i>Utilisateurs</a></li> 
                                            <li class="col-xs-12"><a href="{{ path('app_secretariats_index')}}" class="category"><i class="bg-5dd39e"></i>Point de traitement</a></li>
                                            <li class="col-xs-12"><a href="{{ path('app_postes_index')}}" class="category"><i class="bg-5dd39e"></i>Postes</a></li>
                                            <li class="col-xs-12"><a href="{{ path('app_type_documents_index')}}" class="category"><i class="bg-5dd39e"></i>Type de documents</a></li>
                    
                                        </ul>
                                    </nav> 
                                </div>
                            {% endif %}
                        {% endfor %}



                        

  
                                <div class="nav__select">
                                    {# <div class="btn-select" data-dropdown-btn="tags"> <li><a href="#">Latest</a></li></div> #}
                                    {# <div class="dropdown dropdown--design-01" data-dropdown-list="tags">
                                        <div class="tags">
                                            <a href="#" class="bg-4f80b0">gaming</a>
                                            <a href="#" class="bg-424ee8">nature</a>
                                            <a href="#" class="bg-36b7d7">entertainment</a>
                                            <a href="#" class="bg-ef429e">selfie</a>
                                            <a href="#" class="bg-7cc576">camera</a>
                                            <a href="#" class="bg-3a3a17">username</a>
                                            <a href="#" class="bg-6f7e9c">funny</a>
                                            <a href="#" class="bg-f26522">photography</a>
                                            <a href="#" class="bg-a3d39c">climbing</a>
                                            <a href="#" class="bg-92278f">adventure</a>
                                            <a href="#" class="bg-8781bd">dreams</a>
                                            <a href="#" class="bg-f1ab32">life</a>
                                            <a href="#" class="bg-3b96ca">reason</a>
                                            <a href="#" class="bg-348aa7">social</a>
                                        </div>
                                    </div> #}
                                </div>
                            </div>


                            



                            <style>
                        
                                .active {    border-bottom: 3px solid #4cae4c;
                                bottom: -2px;  
                                width: 100%;
                                }

                            
                            </style>

                            <div class="nav__menu js-dropdown">
                                <div class="nav__select">
                                    
                                   
                                </div>
                                <ul class="navbar">
                                  
                                    <li><a href="{{ path('app_documents_index')}}">Documents</a></li> 
                                    {% if app.user.zone == "SA" or app.user.zone == "SP" or app.user.zone == "SAP" or app.user.niveau == "Admin" %} 
                                    <li><a href="{{ path('app_documents_attache')}}">Attaches</a></li>
                                    {% endif %}
                                    <li><a href="{{ path('app_Affectations_index')}}">Affectations</a></li>
                                    <li><a href="{{ path('app_statistiques_index')}}">Statistiques</a></li>
                                    {% for role in app.user.roles %}
                                        {% if role == "ROLE_ADMIN" %}                                                            
                                        {#<nav class="dropdown dropdown--design-02" data-dropdown-list="categories">
                                            <ul class="dropdown__catalog row">
                                                <li class="col-xs-12" style="margin-top:5px"><a href="{{ path('app_statistiques_index')}}" class="category"><i class="bg-5dd39e" style=" margin-top: 2px;"></i>Suivi courriers GLOBAL</a></li> 
                                                <li class="col-xs-12" style="margin-top:5px"><a href="{{ path('app_statistiques_DGCA')}}" class="category"><i class="bg-5dd39e" style=" margin-top: 2px;"></i>Suivi courriers DGCA</a></li> 
                                                <li class="col-xs-12" style="margin-top:5px"><a href="{{ path('app_statistiques_DGR')}}" class="category"><i class="bg-5dd39e" style=" margin-top: 2px;"></i>Suivi courriers DGR</a></li>  
                                                <li class="col-xs-12" style="margin-top:5px"><a href="{{ path('app_statistiques_DM')}}" class="category"><i class="bg-5dd39e" style=" margin-top: 2px;"></i>Suivi courriers DM </a></li>  
                                                <li class="col-xs-12" style="margin-top:5px"><a href="{{ path('app_statistiques_DPIB')}}" class="category"><i class="bg-5dd39e" style=" margin-top: 2px;"></i>Suivi courriers DPIB </a></li>
                                            </ul>
                                        </nav> #}
                                        
                                        <li><a href="{{ path('app_smq')}}" >SMQ</a></li>
                                
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
        
                        {% block list %}
                            {% block form %}
                                <div class="create">
                                <div class="create__head">
                                    <div class="create__title"><img src="fonts/icons/main/New_Topic.svg" alt="New topic">Create New Thread</div>
                                    <span>Forum Guidelines</span>
                                </div>
                                <div class="create__section">
                                    <label class="create__label" for="title">Thread Title</label>
                                    <input type="text" class="form-control" id="title" placeholder="Add here">
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="create__section">
                                            <label class="create__label" for="category">Select Category</label>
                                            <label class="custom-select">
                                                <select id="category">
                                                    <option>Choose</option>
                                                    <option>Choose #2</option>
                                                    <option>Choose #3</option>
                                                </select>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="create__section">
                                            <label class="create__label" for="sub-category">Select Sub Category</label>
                                            <label class="custom-select">
                                                <select id="sub-category">
                                                    <option>Choose</option>
                                                    <option>Choose #2</option>
                                                    <option>Choose #3</option>
                                                </select>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="create__section create__textarea">
                                    <label class="create__label" for="description">Description</label>
                                    <div class="create__textarea-head">
                                        <span><i class="icon-Quote"></i></span>
                                        <span><i class="icon-Bold"></i></span>
                                        <span><i class="icon-Italic"></i></span>
                                        <div class="create__textarea-separate"></div>
                                        <span><i class="icon-Share_Topic"></i></span>
                                        <span><i class="icon-BlockQuote"></i></span>
                                        <span><i class="icon-Performatted"></i></span>
                                        <span><i class="icon-Upload_Files"></i></span>
                                        <span class="create__textarea-separate"></span>
                                        <span><i class="icon-Bullet_List"></i></span>
                                        <span><i class="icon-heading"></i></span>
                                        <span><i class="icon-Horizontal_Line"></i></span>
                                        <span><i class="icon-Emoticon"></i></span>
                                        <span><i class="icon-Settings"></i></span>
                                        <span><i class="icon-Color_Picker"></i></span>
                                        <div class="create__textarea-btn">
                                            <a href="#" class="btn">Preview</a>
                                        </div>
                                    </div>
                                    <textarea class="form-control" id="description">Adding amazing books to your summer reading list can be as simple as signing up for the BuzzFeed Books newsletter! You'll get a review of a new book you might love every Wednesday, plus much more twice a week: great jokes and quizzes, wonderful lists, powerful essays, all the Harry Potter and YA buzz you can handle, and of course, even more book recommendations. So make some space in your beach bag now — because you're going to have a lot to read this summer.</textarea>
                                </div>
                                <div class="create__section">
                                    <label class="create__label" for="tags">Add Tags</label>
                                    <input type="text" class="form-control" id="tags" placeholder="e.g. nature, science">
                                </div>
                                <div class="create__advanced">
                                    <div class="row">
                                        <div class="col-lg-4 col-xl-4">
                                            <div class="create__section">
                                                <label class="create__label">Who can see this?</label>
                                                <div class="create__radio">
                                                    <label class="create__box">
                                                        <label class="custom-radio">
                                                            <input type="radio" name="can-see" checked="checked">
                                                            <i></i>
                                                        </label>
                                                        <span>Everyone</span>
                                                    </label>
                                                    <label class="create__box">
                                                        <label class="custom-radio">
                                                            <input type="radio" name="can-see">
                                                            <i></i>
                                                        </label>
                                                        <span>Only Friends</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-xl-3">
                                            <div class="create__section">
                                                <label class="create__label">Share on Social?</label>
                                                <div class="create__radio">
                                                    <label class="create__box">
                                                        <label class="custom-checkbox">
                                                            <input type="checkbox" name="share-social" checked="checked">
                                                            <i></i>
                                                        </label>
                                                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                                    </label>
                                                    <label class="create__box">
                                                        <label class="custom-checkbox">
                                                            <input type="checkbox" name="share-social" checked="checked">
                                                            <i></i>
                                                        </label>
                                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                                    </label>
                                                    <label class="create__box">
                                                        <label class="custom-checkbox">
                                                            <input type="checkbox" name="share-social">
                                                            <i></i>
                                                        </label>
                                                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-xl-5">
                                            <div class="create__section">
                                                <label class="create__label">Is this a Mature Thread?</label>
                                                <div class="create__radio">
                                                    <label class="create__box">
                                                        <label class="custom-radio">
                                                            <input type="radio" name="mature-thread">
                                                            <i></i>
                                                        </label>
                                                        <span>Yes</span>
                                                    </label>
                                                    <label class="create__box">
                                                        <label class="custom-radio">
                                                            <input type="radio" name="mature-thread" checked="checked">
                                                            <i></i>
                                                        </label>
                                                        <span>No</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="create__footer">
                                    <a href="#" class="create__btn-cansel btn">Cancel</a>
                                    <a href="#" class="create__btn-create btn btn--type-02">Create Thread</a>
                                </div>
                            </div>
                            {% endblock %}
                        <div class="posts">
                            <div class="posts__head">
                                <div class="posts__topic">Topic</div>
                                <div class="posts__category">Category</div>
                                <div class="posts__users">Users</div>
                                <div class="posts__replies">Replies</div>
                                <div class="posts__views">Views</div>
                                <div class="posts__activity">Activity</div>
                            </div>
                            <div class="posts__body">
                                <div class="posts__item bg-fef2e0">
                                    <div class="posts__section-left">
                                        <div class="posts__topic">
                                            <div class="posts__content">
                                                <a href="#">
                                                    <h3><i><img src="fonts/icons/main/Pinned.svg" alt="Pinned"></i>Welcome New Users! Please read this before posting!</h3>
                                                </a>
                                                <p>Congratulations, you have found the Community! Before you make a new topic or post, please read community guidelines.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="posts__section-right">
                                        <div class="posts__users js-dropdown">
                                            <div>
                                                <a href="#" class="avatar"><img src="{{ 'assets/Dashboard/fonts/icons/avatars/B.svg' }}" alt="avatar" data-dropdown-btn="user-b"></a>
                                                <div class="posts__users-dropdown dropdown dropdown--user dropdown--reverse-y" data-dropdown-list="user-b">
                                                    <div class="dropdown__user">
                                                        <a href="#" class="dropdown__user-label bg-218380">B</a>
                                                        <div class="dropdown__user-nav">
                                                            <a href="#"><i class="icon-Add_User"></i></a>
                                                            <a href="#"><i class="icon-Message"></i></a>
                                                        </div>
                                                        <div class="dropdown__user-info">
                                                            <a href="#">Tesla Motors</a>
                                                            <p>Last post 4 hours ago. Joined Jun 1, 16</p>
                                                        </div>
                                                        <div class="dropdown__user-icons">
                                                            <a href="#"><img src="fonts/icons/badges/Intermediate.svg" alt="user-icon"></a>
                                                            <a href="#"><img src="fonts/icons/badges/Bot.svg" alt="user-icon"></a>
                                                            <a href="#"><img src="fonts/icons/badges/Animal_Lover.svg" alt="user-icon"></a>
                                                        </div>
                                                        <div class="dropdown__user-statistic">
                                                            <div>Threads - <span>1184</span></div>
                                                            <div>Posts - <span>5,863</span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <a href="#" class="avatar"><img src="{{ 'assets/Dashboard/fonts/icons/avatars/K.svg' }}" alt="avatar"></a>
                                            </div>
                                            <div>
                                                <a href="#" class="avatar"><img src="{{ 'assets/Dashboard/fonts/icons/avatars/O.svg' }}" alt="avatar"></a>
                                            </div>
                                        </div>
                                        <div class="posts__replies">66</div>
                                        <div class="posts__views">15.1k</div>
                                        <div class="posts__activity">11d</div>
                                    </div>
                                </div>
                                <div class="posts__item">
                                    <div class="posts__section-left">
                                        <div class="posts__topic">
                                            <div class="posts__content">
                                                <a href="#">
                                                    <h3>What’s everyone drinking?</h3>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="posts__category"><a href="#" class="category"><i class="bg-5dd39e"></i> Random</a></div>
                                    </div>
                                    <div class="posts__section-right">
                                        <div class="posts__users">
                                            <div>
                                                <a href="#" class="avatar"><img src="{{ 'assets/Dashboard/fonts/icons/avatars/B.svg' }}" alt="avatar"></a>
                                            </div>
                                            <div>
                                                <a href="#" class="avatar"><img src="{{ 'assets/Dashboard/fonts/icons/avatars/M.svg' }}" alt="avatar"></a>
                                            </div>
                                            <div>
                                                <a href="#" class="avatar"><img src="{{ 'assets/Dashboard/fonts/icons/avatars/Z.svg' }}" alt="avatar"></a>
                                            </div>
                                        </div>
                                        <div class="posts__replies">305</div>
                                        <div class="posts__views">2.1k</div>
                                        <div class="posts__activity">6m</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endblock %}
                    </div>
                </main>
            {% endblock %}
            {% block footer %}
                <!-- FOOTER -->
                <footer>
                    <div class="footer js-dropdown">
                        <div class="container">
                            <div class="footer__logo">
                                <div>
                                  
                                    <h3>SAGA</h3>
                                </div>
                            </div>
                            <div class="footer__nav">
                                <div class="footer__tline">
                                 

                                    <ul class="footer__social" >
 
                                         <li><a href="#">PRÉSENTATION</a></li>
                                        <li><a href="{{path("Accueil")}}">DOCUMENTHÈQUE</a></li> 
                                      
                                    </ul>
                                    
                                </div>
                                <div class="footer__bline">
                                  
                                    <ul class="footer__social">
                                         <li class="footer__copyright" style="margin-top: 10px; font-size:15px;font-weight:bold; color: blue;"><span>&copy;{{ dg }}République du Bénin le {{ "now"|date('d/m/Y') }}</span></li>
                                      
                                    </ul>
                                    {# <div class="footer__language-btn-m" data-dropdown-btn="language">Americas - English<i class="icon-Arrow_Below"></i></div> #}
                                </div>
                            </div>
                        </div>
                        <span style="display:flex ;margin-bottom:-5px;top:0:">
                        <i style="width: 100%; height:8px;  padding: 0px; background-color:RGB(16,135,87);"> </i>
                        <i style="width: 100% ;  height:8px; background-color:#FFD400;"> </i>
                        <i style="width: 100% ; height:8px; background-color:rgb(235, 0, 0);"> </i>
                    
                    </span>
                    </div>

                    


                </footer>
            {% endblock %}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('dashboard') }}
            <!-- JAVA SCRIPT -->
             <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            
            <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script> 
            <script src="https://cdn.datatables.net/plug-ins/1.13.4/i18n/fr-FR.json   "></script>
            <script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.print.min.js  "></script> 
            <script src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js "></script> 
            <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
            <script src="{{ asset('assets/Dashboard/vendor/velocity/velocity.min.js') }}"></script>
            <script src="{{ asset('assets/Dashboard/vendor/select2.min.js') }}"></script>
            <script src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
            <script src="{{ asset('assets/Dashboard/js/app.js') }}"></script>    
            <script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@3.9.179/build/pdf.js"></script>        
            
           
 
                 <script>

                  
                    var links = document.querySelectorAll(".navbar a");
                    var currentPage = window.location.pathname;

                    function updateActiveLink() {
                        var current = document.querySelector(".active");
                        if (current) {
                        current.classList.remove("active");
                        }
                        var activeLink = document.querySelector(`a[href='${currentPage}']`);
                        activeLink.classList.add("active");
                    }

                    links.forEach(function(link) {
                        link.addEventListener("click", function() {
                        currentPage = this.getAttribute("href");
                        history.pushState({}, "", currentPage);
                        updateActiveLink();
                        });
                    });

                    window.addEventListener("popstate", function() {
                        currentPage = window.location.pathname;
                        updateActiveLink();
                    });

                    updateActiveLink();
                </script>

            <script>

             
                $(document).ready(function() {
                        $('.js-example-basic-single').select2();  
                        $('.expensive').DataTable({
                            dom: 'BlfrtipHhf',  
                            //scrollY: '400px', // Hauteur fixe de la table
                            rowCallback: function(row, data, index) {
                                var numeroColumnIndex = 0; // Index de la colonne "Numéro"

                                // Met à jour la valeur du champ "Numéro"
                                $(row).find('td:eq('+numeroColumnIndex+')').text(index + 1);
                            },
                             
                            buttons: [ 
                                {
                                orientation: 'landscape',
                                extend: 'print', 
                                text: ' Imprimer ', 
                                
                                
                                customize: function(win) {
                                  
                                    
                                    var Nom = {{ app.user.nom|json_encode|raw }};
                                    var Prenom = {{ app.user.prenom|json_encode|raw }};
                                    var options = { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' };
                                    var date = new Date();
                                    var jours = ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'];
                                    var nomJour = jours[date.getDay()];
                                    
                                    $(win.document.body)
                                        .css('font-size', '12pt')
                                        .prepend('<img src="https://dgml.finances.bj/web/template/images/dgml_bande2_moyen.png" style="position:absolute; top:0; left:0;filter: opacity(0.20);" />')
                                        .prepend('<div style="position:absolute; top:-10; left:0;font-size:40px;font-weight:900;">SAGA </div>');
                                        
                                    $(win.document.body).find('table')
                                        .addClass('compact')
                                        .css('font-size', 'inherit');

                                    $(win.document.body).find('h1')
                                        .css('text-align', 'center')
                                        .css('font-size', '14pt');

                                    // Répéter l'image sur chaque page d'impression
                                    var image = $(win.document.body).find('img');
                                    var pageCount = 1;
                                    for (var i = 0; i < pageCount; i++) {
                                        var imageClone = image.css({
                                        'position': 'fixed',
                                        'top':  '25vh',
                                        'left': 350,
                                        'width': '30%'
                                        }); 
 
                                    }


                                     // Créer un élément de date pour chaque nouvelle page d'impression
                                        var dateElement = $('<div>').css({
                                            'position': 'fixed',
                                            'top': '97vh',
                                            'left': '5',
                                            'font-size': '14px'
                                        }).text( ' Impression initié par : ' + Nom + ' ' + Prenom + ', le ' + date.toLocaleDateString('fr-FR', options) );

                                        var mediaQueryList = win.matchMedia('print');
                                        mediaQueryList.addListener(function(mql) {
                                            if (mql.matches) {
                                            $(win.document.body).prepend(dateElement.clone());
                                            }
                                        });

                                        // Ajouter l'élément de date pour la première page d'impression
                                        if (mediaQueryList.matches) {
                                            $(win.document.body).prepend(dateElement);
                                        }


                                        
					        // $(win.document.body).find('table').each(function () {
                                      //   var table = $(this);
                                     //   table.css('height', 'auto');

                                        // Réinitialiser les styles de pagination

                                        // Réinitialiser la longueur de page pour l'impression
                                        //table.DataTable().page.len(-1).draw();
                                      // var rows = table.find('tr');
                            
                                       // rows.each(function (index) {
                                         //    var row = $(this);
                                          // var columns = row.find('td');
                            
                                            // Ajouter le numéro de ligne dans la première colonne
                                          // columns.eq(0).text(index);
                                            // Vérifier si la dernière colonne est "Actions" avant de la supprimer
                                         // var lastColumn = columns.last();
                                         //   var lastColumnText = lastColumn.text().trim();
                                          // if (lastColumnText === 'ACTIONS') {
                                           //    lastColumn.remove(); // Supprimer la dernière colonne dans la vue d'impression
                                         // }
                                            // });  
                                             // });

                                }
                                

                            }
                            ],
                            // Met en avant la première colonne (Numéro) en ordre croissant

                            lengthMenu:[5,10,15,20,25],
                            pageLength: 25,
 
                            language: {
                                "emptyTable": "Aucune donnée disponible dans le tableau",
                                "loadingRecords": "Chargement...",
                                "processing": "Traitement...",
                                "Print": "Imprimer",
                                "info": "Affichage de _START_ à _END_ sur _TOTAL_ entrées",
                                "infoEmpty": "Affichage de 0 à 0 sur 0 entrées",
                                "infoFiltered": "(filtrées depuis un total de _MAX_ entrées)",
                                "lengthMenu": "Afficher _MENU_ entrées",
                                "paginate": {
                                    "first": "Première",
                                    "last": "Dernière",
                                    "next": "Suivante",
                                    "previous": "Précédente"
                                },
                                "zeroRecords": "Aucune entrée correspondante trouvée",
                                "aria": {
                                    "sortAscending": " : activer pour trier la colonne par ordre croissant",
                                    "sortDescending": " : activer pour trier la colonne par ordre décroissant"
                                },
                                "infoThousands": " ",
                                "search": "Rechercher :",
                                "thousands": " "
                        
                            },
                            
        

                            });
                    });  
                   // table.columns(2).visible(false);
                    
            </script>
        {% endblock %}
    </body>
</html>