<!doctype html>
<html lang="en">
  <head>
  	<title>SAGA Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
	<link rel="stylesheet" href="{{ 'assets/Login/css/style.css' }}">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center "> 
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<div class="wrap d-md-flex">
						<div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
							<div class="text w-100">
								<h2>Bienvenue sur SAGA {{ dg }}</h2>  
								 <p>Système Automatisé de Gestion des Archives (SAGA) est une plateforme informatique de gestion numérique des archives en entreprise.</p>
								 <p style="font-size:13px ;"> Pour une raison de mot de passe oublié ou un problème de connexion, veuillez vous rapprocher du service informatique.</p>
						 
							</div>
			      </div>
						<div class="login-wrap p-4 p-lg-5">

		{% block subtitle %}
			<div class="d-flex">
			      		<div class="w-100">
			      			<h4 class="mb-4">Connection à SAGA {{ dg }}</h4>
			      		</div>
								 
			      	</div>
		{% endblock %}	
			      	
		{% block form %}
							<form action="#" class="signin-form">
			      		<div class="form-group mb-3">
			      			<label class="label" for="name">Username</label>
			      			<input type="text" class="form-control" placeholder="Username" required>
			      		</div>
		            <div class="form-group mb-3">
		            	<label class="label" for="password">Password</label>
		              <input type="password" class="form-control" placeholder="Password" required>
		            </div>
		            <div class="form-group">
		            	<button type="submit" class="form-control submit px-3">Sign In</button>
		            </div>
		            <div class="form-group d-md-flex">
		            	<div class="w-50 text-left">
			            	<label class="checkbox-wrap checkbox-primary mb-0">Remember Me
									  <input type="checkbox" checked>
									  <span class="checkmark"></span>
										</label>
									</div>
									<div class="w-50 text-md-right">
										<a href="#">Forgot Password</a>
									</div>
		            </div>
		          </form>


		        </div>

		{% endblock %}

		      </div>
				</div>
			</div>
		</div>
	</section>

	{#<script src="{{ 'assets/Login2/js/jquery-3.3.1.min.js' }}" ></script>
     <script src="{{ 'assets/Login2/js/js/popper.min.js' }}" ></script> #}
    {# <script src="{{ 'assets/Login2/js/js/bootstrap.min.js' }}" ></script> #}
    {# <script src="{{ 'assets/Login2/js/js/main.js' }}" ></script> #}

	</body>
</html>

