{% extends 'base2.html.twig' %}


{% block title %}Modification d'utilisateur
{% endblock %}

{% block main %}{% endblock %}

{% block breadcrumb %}

	<div class="page-header">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="title">
					<h4>Modifier un utilisateur</h4>
				</div>
				<nav aria-label="breadcrumb" role="navigation">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{path("Accueil")}}">Accueil</a>
						</li>
						<li class="breadcrumb-item">
							<a href="{{ path('app_type_documents_index') }}">Liste des utilisateurs</a>
						</li>
						<li class="breadcrumb-item active" aria-current="page">
							Modifier un utilisateur
						</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>

{% endblock %}


{% block list %}

	<div class="pd-20 card-box mb-30">

		<div class="pb-20">

			<div class="clearfix">

				<div
					class="pull-left">
					<!-- <h4 class="text-blue h4">Ajout d'un poste</h4> -->
					<p class="mb-30">
						<b>Formulaire de modification d'un utilisateur
						</b>
					</p>
				</div>

			</div>


			<div>

				{{ form_start(form) }}

				<div class="row">


					<div class="col-md-6 col-sm-12">
						<div class="form-group">
							<label class="create__label" for="title">{{ form_label(form.nom, 'Nom ', {'label_attr': {'class': 'foo'}}) }}</label>
							<div>{{ form_widget(form.nom, {'attr': {'class': 'form-control','placeholder': "Insérer le nom de l'utilisateur" }}) }}</div>
						</div>
					</div>


					<div class="col-md-6 col-sm-12">
						<div class="form-group">
							<label class="create__label" for="title">{{ form_label(form.prenom, 'Prénom(s)', {'label_attr': {'class': 'foo'}}) }}</label>
							<div>{{ form_widget(form.prenom, {'attr': {'class': 'form-control','placeholder': "Insérer le(s) prenom(s) de l'utilisateur" }}) }}</div>

						</div>
					</div>

					<div class="col-md-6 col-sm-12 ">
						<div class="form-group">
							<label class="create__label" for="title">{{ form_label(form.email, 'Email', {'label_attr': {'class': 'foo'}}) }}</label>
							<div>{{ form_widget(form.email, {'attr': {'class': 'form-control','placeholder': "Insérer le email de l'utilisateur" }}) }}</div>
						</div>
					</div>

					<div class="col-md-6 col-sm-12">
						<div class="form-group">
							<label>{{ form_label(form.roles, 'Rôles', {'label_attr': {'class': 'foo'}}) }}</label>
							<div>{{ form_widget(form.roles, {'attr': {'class': 'form-control custom-select2','placeholder': "Insérer le rôle de l'utilisateur" }}) }}</div>


						</div>
					</div>


					<div class="col-md-12 col-sm-12">
						<div class="form-group">
							<button class="create__btn-create btn btn--type-02 btn btn-warning">{{ button_label|default('Modifier') }}</button>
						</div>
					</div>


				</div>


			</div>

			{{ form_end(form) }}


		</div>


	</div>


{% endblock %}
