{% extends 'base2.html.twig' %}


{% block title %}Nouvel utilisateur
{% endblock %}

{% block main %}{% endblock %}

{% block breadcrumb %}

	<div class="page-header">
		<div class="row">
			<div class="col-md-6 col-sm-12">
				<div class="title">
					<h4>Nouvel utilisateur</h4>
				</div>
				<nav aria-label="breadcrumb" role="navigation">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{path("Accueil")}}">Accueil</a>
						</li>
						<li class="breadcrumb-item">
							<a href="{{ path('app_users_index') }}">Liste des utilisateurs</a>
						</li>
						<li class="breadcrumb-item active" aria-current="page">
							Nouvel utilisateur
						</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>

{% endblock %}


{% block list %}


	<div class="pd-20 card-box mb-30">

		<div class="pb-20">

			<div class="clearfix">

				<div
					class="pull-left">
					<!-- <h4 class="text-blue h4">Ajout d'un poste</h4> -->
					<p class="mb-30">
						<b>Formulaire d'ajout d'un utilisateur
						</b>
					</p>
				</div>

			</div>


			<div>

				{{ form_start(form) }}

				<div class="row">


					<div class="col-md-6 col-sm-12">
						<div class="form-group">
							<label class="create__label" for="title">{{ form_label(form.nom, 'Nom ', {'label_attr': {'class': 'foo'}}) }}</label>
							<div>{{ form_widget(form.nom, {'attr': {'class': 'form-control','placeholder': "Insérer le nom de l'utilisateur" }}) }}</div>
						</div>
					</div>


					<div class="col-md-6 col-sm-12">
						<div class="form-group">
							<label class="create__label" for="title">{{ form_label(form.prenom, 'Prénom(s)', {'label_attr': {'class': 'foo'}}) }}</label>
							<div>{{ form_widget(form.prenom, {'attr': {'class': 'form-control','placeholder': "Insérer le(s) prenom(s) de l'utilisateur" }}) }}</div>

						</div>
					</div>

					<div class="col-md-6 col-sm-12 ">
						<div class="form-group">
							<label class="create__label" for="title">{{ form_label(form.email, 'Email', {'label_attr': {'class': 'foo'}}) }}</label>
							<div>{{ form_widget(form.email, {'attr': {'class': 'form-control','placeholder': "Insérer le email de l'utilisateur" }}) }}</div>
						</div>
					</div>

					<div class="col-md-6 col-sm-12">
						<div class="form-group">
							<label>{{ form_label(form.roles, 'Rôles', {'label_attr': {'class': 'foo'}}) }}</label>
							<div>{{ form_widget(form.roles, {'attr': {'class': 'form-control custom-select2','placeholder': "Insérer le rôle de l'utilisateur" }}) }}</div>


						</div>
					</div>


					<div class="col-md-12 col-sm-12">
						<div class="form-group">
							<button class="create__btn-create btn btn--type-02 btn btn-success">{{ button_label|default('Sauvegarder') }}</button>
						</div>
					</div>


				</div>


			</div>

			{{ form_end(form) }}


		</div>


	</div>


	<div>
		<a class="btn btn-success" style="margin-top: 15px ;" href="{{ path('app_users_index') }}">Retour</a>
	</div>
	{{ form_start(form) }}
	<div class="create">
		<div class="create__section">

			<div class="create__title"><img src={{asset('build/images/icons/iconplus.5ed37a8f.svg')}}>Ajout d'un nouvel utilisateur</div>

		</div>


		<div style="display:flex; flex-wrap:wrap">

			<div class="create__section" style="width: 47.5%;">
				<label class="create__label" for="title">{{ form_label(form.nom, 'Nom ', {'label_attr': {'class': 'foo'}}) }}</label>
				<div>{{ form_widget(form.nom, {'attr': {'class': 'form-control','placeholder': "Insérez le nom de l'utilisateur" }}) }}</div>
			</div>
			<div{{form_label(form.prenom,'Prénom(s)',{'label_attr':{'class':'foo'}}){{form_widget(form.prenom,{'attr':{'class':'form-control','placeholder':"Insérerle(s)prenom(s)del'utilisateur"}}){{form_label(form.email,'Email',{'label_attr':{'class':'foo'}}){{form_widget(form.email,{'attr':{'class':'form-control','placeholder':"Insérezleemaildel'utilisateur"}}){{form_label(form.roles,'Rôles')}}</label class="create__section" <div style="width: 47.5%;margin-left:5% "> <label class="create__label" for="title"> }}</label> <div> }}</div> </div> </div> <div style="display:flex; flex-wrap:wrap"> <div class="create__section" style="width: 47.5%;"> <label class="create__label" for="title"> }}</label> <div> }}</div> </div> <div style="width: 47.5%; margin-left:5%"> <div class="create__section"> <label class="create__label" for="title">>

				<label class="custom-select">

					<div>{{ form_widget(form.roles, {'attr': {'class': 'js-example-basic-single' }}) }}</div>

				</label>
			</div>

		</div>


		{#<div style="display:flex; flex-wrap:wrap">  
		                                    <div  style="width: 47.5%;">
		                                   
		                                        <div class="create__section">
		                                          <label class="create__label" for="title">{{ form_label(form.Niveau, 'Niveau') }}</label>
		
		                                            <label class="custom-select">
		                                                                                                
		                                                     <div>{{ form_widget(form.Niveau, {'attr': {'class': 'js-example-basic-single' }}) }}</div> 
		
		                                            </label>
		                                        </div>
		                                    </div>
		
		                                    <div style="width: 47.5%;margin-left:5%">
		                                        <div class="create__section">
		                                            <label class="create__label" for="title">{{ form_label(form.Zone, 'Zone', {'label_attr': {'class': 'foo'}}) }}</label>
		
		                                            <label class="custom-select">
		                                                                                                
		                                                <div>{{ form_widget(form.Zone, {'attr': {'class': 'js-example-basic-single','placeholder': "Insérer le service de la direction" }}) }}</div> 
		
		                                            </label>
		                                        </div>
		                                    </div>
		                            
		                                </div>
		                            #}
		<div class="create__footer"></div>
	</div>

	{{ form_end(form) }}

{% endblock %}
