{% extends 'base.html.twig' %}

{% block title %}Voir un utilisateur{% endblock %}

{% block add %}
    <a href="{{path('app_users_new')}}">
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg>
        {#<img src="{{ 'assets/Dashboard/fonts/icons/main/New_Topic.svg'}}" alt="Ajout">#}
    </a>
{% endblock %}

{# {% block body %}
    <h1>Users</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_users_index') }}">back to list</a>

    <a href="{{ path('app_users_edit', {'id': user.id}) }}">edit</a>

    {{ include('users/_delete_form.html.twig') }}
{% endblock %} #}


{% block list %}
 

     <div style="  margin-top: 15px; margin-bottom:15px" >
   <div style="text-align:left;"> <a class="btn btn-success"  href="{{ path('app_users_index') }}">Retour</a></div>
 
   </div>

     <div class="topic">
                    <div class="topic__head"   style="margin-bottom: -50px;">
                         <div class="topic__caption">
                                <div class="topic__name mb-n5 pb-5">
                                        <h5>{{user.Nom}} {{user.Prenom}}<h5>
                                 </div>
                                     
                                 <div class="topic__date"> <a class="btn btn-warning mt-5"  href="{{ path('app_users_edit', {'id': user.id}) }}">Modifier</a></div>
                         </div>
                    </div>
                        
                    <div class="create">
                               
                            <div class="create__section ">
{# 
                                 <div class="create__section">
                                    <label class="create__label" for="title"> Nom  </label>
                                    <input class="form-control" type="text" name="name" readonly value=" {{ user.Nom }}"> </div>
                                
                                 <div class="create__section">
                                    <label class="create__label" for="title"> Prénom(s) </label>
                                    <input class="form-control" type="text" name="name" readonly value=" {{ user.Prenom }}"> </div> #}
 
                                <div class="d-flex justify-content-start">
                                    <label class="create__label" for="title"> Email</label>
                                    <input class="form-control" type="text" name="name" value="{{ user.email }} " readonly> </div>    
                             

                                <div class="create__section" style="margin-top: 20px;">
                                    <label class="create__label" for="title"> Rôles </label> 
                                        {% for role in user.roles %}
                                                {% if role == 'ROLE_USER' %} 
                                                <input class="form-control" type="text" name="name" readonly value="Utilisateur"> 
                                                {% else  %}
                                                <input class="form-control" type="text" name="name" readonly value="Administrateur">  
                                                {% endif %}
                                        <br>{% endfor %}</div>
                               
                                {#<div style="text-align:right; margin-top:17px"> <a class="btn btn-danger"  href=" ">Supprimer</a></div>#} 
                                
                                </div>
                                
 
                            </div>
 
                    </div>
 
                    
    </div>
                     

{% endblock %}