{% extends 'base.html.twig' %}

{% block title %}Modification d'affectation{% endblock %}
 
 {% block add %}
    <a href="{{'app_Affectations_new'}}">
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg>
        {#<img src="{{ 'assets/Dashboard/fonts/icons/main/New_Topic.svg'}}" alt="Ajout">#}
    </a>
{% endblock %}

{% block list %}
<div style="  margin-top: 15px" >
  <div > <a class="btn btn-success" style="margin-top: 15px;"  href="{{ path('app_Affectations_index') }}">Retour</a></div>
  <div style="text-align:right; margin-top:-37px"> <a class="btn btn-danger"  href=" ">Supprimer</a></div>
</div>
{{ form_start(form) }}
    <div class="create">
        <div class="create__section">
            <div class="create__title"><img src={{asset('build/images/icons/update.fb0ac4e5.svg')}}>Modification d'un Affectation</div> 
        </div>
        <div style=" display: flex;flex-wrap: wrap;" >   
            <div  style="margin-top: 20px; width:35% ">
                <div class="create__section" >
                    <label class="create__label" for="title">{{ form_label(form.Document, 'Document', {'label_attr': {'class': 'foo'}}) }}</label>
                    <div>{{ form_widget(form.Document, {'attr': {'class': 'form-control', 'value': affectation.Document, 'readonly': true  }}) }}</div> 
                </div>  

                <div class="create__section" >          
                    <label class="create__label" for="title">{{ form_label(form.Envoyeur, 'Expéditeur', {'label_attr': {'class': 'foo'}}) }}</label>
                    <div>{{ form_widget(form.Envoyeur, {'attr': {'class': 'form-control', 'value': affectation.Envoyeur, 'readonly': true }}) }}</div> 
                </div>
            
                <div class="create__section">
                    <label class="create__label" for="title">{{ form_label(form.Date_Affectation_at, 'Date de affectation', {'label_attr': {'class': 'foo'}}) }}</label>
                    <div>{{ form_widget(form.Date_Affectation_at, {'attr': {'class': 'date_time',  }}) }}</div>  
                </div>

                <style>
                    .date_time{ 
                        color: red;
                        padding: 4px;  
                        border: solid 1px #e9ecee;
                            border-radius: 0;
                        background-color: #ECECEC;
                            color: #181617;
                        -webkit-box-shadow: none;
                            -moz-box-shadow: none;
                        box-shadow: none;
                            display: block;
                            width: 100%;
                    }
                </style>                            
                
                <div class="create__section" >
                    <label class="create__label" for="title">{{ form_label(form.Receveur, 'Destinataire', {'label_attr': {'class': 'foo'}}) }}</label>
                    <label class="custom-select">                                              
                        <div>{{ form_widget(form.Receveur, {'attr': {'class': 'js-example-basic-single','value': affectation.Receveur }}) }}</div> 
                    </label>
                </div>
                <div class="create__footer"> 
                    <button class="create__btn-create btn btn--type-02 btn btn-success">{{ button_label|default('Sauvegarder') }}</button>
                </div>
            </div>
            <div style="width:60% ;margin-left:5%;overflow : auto; text-align : center;margin-top:3%;" >
                {#<embed src="{{asset(documents_dir, '', 'FTP')}}" width="600" height="500" type='application/pdf'></embed>#}
                <embed src="../../Documents/{{affectation.Document.DocumentAt ? affectation.Document.DocumentAt|date('Y/m/d') : ''}}/{{affectation.Document.Chemin}}" width="600" height="500" type='application/pdf'></embed> 
            </div>
        </div>
            
    </div>
            
</div>
    {{ form_end(form) }}
                             
{% endblock %}

