{% extends 'base2.html.twig' %}

{% block title %}Nouvelle affectation
{% endblock %}

{% block main %}{% endblock %}

{% block breadcrumb %}

	<div class="page-header">
		<div class="row">
			<div class="col-md-6 col-sm-12">
				<div class="title">
					<h4>Nouvelle affectation</h4>
				</div>
				<nav aria-label="breadcrumb" role="navigation">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{path("Accueil")}}">Accueil</a>
						</li>
						<li class="breadcrumb-item">
							<a href="{{ path('app_Affectations_index') }}">Liste des affectations</a>
						</li>
						<li class="breadcrumb-item active" aria-current="page">
							Nouvelle affectation
						</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>

{% endblock %}


{% block list %}

	<div class="card-box mb-30">


		<div class="clearfix">
			<div class="pd-20">
				<div
					class="pull-left">
					<!-- <h4 class="text-blue h4">Ajout d'un poste</h4> -->
					<p class="mb-30">
						<b>Apercu du document à affecter</b>
					</p>
				</div>

			</div>
		</div>


		<div class="container">
			<embed style="width: 100%; height:250px;border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); " src="../../Documents/{{affectation.Document.DocumentAt ? affectation.Document.DocumentAt|date('Y/m/d') : ''}}/{{affectation.Document.Chemin}}" type='application/pdf'></embed>
	</div>

	<div class="pd-20"></div>
</div>

<div class="card-box mb-30">

	<div class="pb-20">

		<div class="clearfix">
			<div class="pd-20   ">
				<div
					class="pull-left">
					<!-- <h4 class="text-blue h4">Ajout d'un poste</h4> -->
					<p class="mb-30">
						<b>Formulaire d'affectation d'un document</b>
					</p>
				</div>

			</div>
		</div>


		<div class="container">

			{{ form_start(form) }}

			<div class="row">

				<div class="col-md-6 col-sm-12 ">
					<div class="form-group">
						<label>{{ form_label(form.Document, 'Document', {'label_attr': {'class': ' '}}) }}</label>
						{{ form_widget(form.Document, {'attr': {'class': 'form-control', 'value': affectation.Document, 'readonly': true  }}) }}
					</div>
				</div>

				<div class="col-md-6 col-sm-12  ">
					<div class="form-group">
						<label>{{ form_label(form.Envoyeur, 'Expéditeur', {'label_attr': {'class': ''}}) }}</label>
						{{ form_widget(form.Envoyeur, {'attr': {'class': 'form-control', 'value': affectation.Envoyeur, 'readonly': true }}) }}
					</div>
				</div>

				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<label>{{ form_label(form.Date_Affectation_at, 'Date de affectation', {'label_attr': {'class': ' '}}) }}</label>
						{{ form_widget(form.Date_Affectation_at, {'attr': {'class': 'form-control','placeholder': "Insérez la date de affectation" }}) }}
					</div>
				</div>

				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<label>{{ form_label(form.Receveur, 'Destinataire', {'label_attr': {'class': 'foo'}}) }}</label>
						{{ form_widget(form.Receveur, {'attr': {'class': 'custom-select2 form-control','placeholder': "Insérez le destinataire" }}) }}
					</div>
				</div>


				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<button class="create__btn-create btn btn--type-02 btn btn-success">{{ button_label|default('Affecter le document') }}</button>

					</div>
				</div>


			</div>


		</div>

		{{ form_end(form) }}


	</div>


</div>{% endblock %}
