{% extends 'base2.html.twig' %}

{% block title %}Affectations
{% endblock %}

{% block main %}{% endblock %}

{% block breadcrumb %}

	<div class="page-header">
		<div class="row">
			<div class="col-md-6 col-sm-12">
				<div class="title">
					<h4>Visualiser une affectation</h4>
				</div>
				<nav aria-label="breadcrumb" role="navigation">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{path("Accueil")}}">Accueil</a>
						</li>
						<li class="breadcrumb-item">
							<a href="{{ path('app_Affectations_index') }}">Liste des affectations</a>
						</li>
						<li class="breadcrumb-item active" aria-current="page">
							Visualiser une affectation
						</li>
					</ol>
				</nav>
			</div>

            <div class="col-md-6 col-sm-12 text-right">
				<div>

					<div>
						<a type="submit" href="{{ path('app_Affectations_edit', {'id': Affectation.id}) }}" class="btn btn-warning">
							<i class="icon-copy ion-edit"></i>
							&nbsp; Modifier
						</a>

					</div>

				</div>
			</div>
		</div>
	</div>

{% endblock %}


{% block list %}


	<div class="card-box mb-30">

		<div class="pb-20">

			<div class="clearfix">
				<div class="pd-20   ">
					<div
						class="pull-left">
						<!-- <h4 class="text-blue h4">Ajout d'un poste</h4> -->
						<p class="mb-30">
							<b>Fiche d'affectation
							</b>
						</p>
					</div>

				</div>
			</div>


			<div class="container">


				<div class="row">

					<div class="col-md-6 col-sm-12 ">
						<div class="form-group">
							<label>
								Date de Affectation</label>
							<input class="form-control" type="text" name="name" value="{{ Affectation.DateAffectationAt ? Affectation.DateAffectationAt|date('Y-m-d') : '' }}" readonly>
						</div>
					</div>

					<div class="col-md-6 col-sm-12  ">
						<div class="form-group">
							<label>
								Expéditeur</label>
							<input class="form-control" type="text" name="name" value="{{ Affectation.Envoyeur }}" readonly>
						</div>
					</div>

					<div class="col-md-6 col-sm-12">
						<div class="form-group">
							<label>Document</label>
							<input class="form-control" type="text" name="name" value="{{ Affectation.Document }}" readonly>
						</div>
					</div>

					<div class="col-md-6 col-sm-12">
						<div class="form-group">
							<label class="create__label" for="title">Destinataire</label>
							<input class="form-control" type="text" name="name" value="{{ Affectation.Receveur }}" readonly>
						</div>
					</div>

				</div>


			</div>


		</div>


	</div>


	<div class="card-box mb-30">


		<div class="clearfix">
			<div class="pd-20">
				<div
					class="pull-left">
					<!-- <h4 class="text-blue h4">Ajout d'un poste</h4> -->
					<p class="mb-30">
						<b>Apercu du document affecté</b>
					</p>
				</div>

			</div>
		</div>


		<div class="container">
			<embed style="width: 100%; height:450px;border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); " src="../Documents/{{Affectation.Document.DocumentAt ? Affectation.Document.DocumentAt|date('Y/m/d') : ''}}/{{Affectation.Document.Chemin}}" width="600" height="850" type='application/pdf'></embed>
	</div>

	<div class="pd-20"></div>
</div>{% endblock %}
